Repository Benchmarking-Initiative/Benchmark-Models-PEtab, changes with the owners that CODEOWNERS names for each.
All owners: @LaraFuhrmann, @vanako, @dilpath, @elbaraim, @PaulJonasJost, @C-Peiter, @lcontento, @lorenapohl, @PhilippStaedter, @IvaEwert

one more Isensee visualization fix
  Benchmark-Models/Isensee_JCB2018/visualizationSpecification_Isensee_JCB2018.tsv
Owners: none

add PEtab problem specification
  Benchmark-Models/Lang_PLOSComputBiol2024/Lang_PLOSComputBiol2024.yaml
  Benchmark-Models/Lang_PLOSComputBiol2024/experimentalCondition_Lang_PLOSComputBiol2024.tsv
  Benchmark-Models/Lang_PLOSComputBiol2024/measurementData_Lang_PLOSComputBiol2024.tsv
  Benchmark-Models/Lang_PLOSComputBiol2024/model_Lang_PLOSComputBiol2024.xml
  Benchmark-Models/Lang_PLOSComputBiol2024/observables_Lang_PLOSComputBiol2024.tsv
  Benchmark-Models/Lang_PLOSComputBiol2024/parameters_Lang_PLOSComputBiol2024.tsv
  Benchmark-Models/Lang_PLOSComputBiol2024/visualizationSpecification_Lang_PLOSComputBiol2024.tsv
Owners: none

add empty preequilibrationConditionId column
  Benchmark-Models/Lang_PLOSComputBiol2024/measurementData_Lang_PLOSComputBiol2024.tsv
Owners: none

add problem to readme
  README.md
Owners: none

fix froehlich ref
  README.md
Owners: none

Froehlich_CellSystems2018: fix ref (#204)
  README.md
Owners: none

update readme table automatically
  README.md
  scripts/_helpers.py
  scripts/overview.py
Owners: none

contributing.md
  CONTRIBUTING.md
Owners: none

move checklist to PR template
  CONTRIBUTING.md
  pull_request_template.md
Owners: none

review
  scripts/overview.py
Owners: none

consolidate with old template
  .github/PULL_REQUEST_TEMPLATE/new_petab_problem.md
  pull_request_template.md
Owners: none

add example for model ID and name
  pull_request_template.md
Owners: none

typo
  pull_request_template.md
Owners: none

Update README overview table automatically (#205)
  README.md
  scripts/_helpers.py
  scripts/overview.py
Owners: none

review: mtry PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  CONTRIBUTING.md
Owners: none

review: minor edits
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Owners: none

relative link
  CONTRIBUTING.md
Owners: none

typo
  CONTRIBUTING.md
Owners: none

Checklist for new submissions (#206)
  .github/PULL_REQUEST_TEMPLATE/new_petab_problem.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  CONTRIBUTING.md
Owners: none

reduce duplicate info
  CONTRIBUTING.md
  README.md
Owners: none

move template
  .github/pull_request_template.md
  CONTRIBUTING.md
Owners: none

Fix PR template; remove duplicated contributing info (#207)
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
Owners: none

substitute observables in noiseFormula with observableFormula
  Benchmark-Models/Lang_PLOSComputBiol2024/observables_Lang_PLOSComputBiol2024.tsv
Owners: none

add simulated data
  Benchmark-Models/Lang_PLOSComputBiol2024/simulatedData_Lang_PLOSComputBiol2024.tsv
Owners: none

update vis spec to match publication
  Benchmark-Models/Lang_PLOSComputBiol2024/visualizationSpecification_Lang_PLOSComputBiol2024.tsv
Owners: none

update README with overview.py
  README.md
Owners: none

update model ID and name
  Benchmark-Models/Lang_PLOSComputBiol2024/model_Lang_PLOSComputBiol2024.xml
Owners: none

run CI on PRs
  .github/workflows/python.yml
  .github/workflows/tests.yml
Owners: none

add doi
  Benchmark-Models/Lang_PLOSComputBiol2024/model_Lang_PLOSComputBiol2024.xml
  README.md
Owners: none

Fix #212, annotation fix invalid sbml Lang
  Benchmark-Models/Lang_PLOSComputBiol2024/model_Lang_PLOSComputBiol2024.xml
Owners: none

Fix #211, removed duplicate annotation element
  Benchmark-Models/Blasi_CellSystems2016/model_Blasi_CellSystems2016_allCombinations.xml
Owners: none

fixing namespaces and fix #211
  Benchmark-Models/Lang_PLOSComputBiol2024/model_Lang_PLOSComputBiol2024.xml
Owners: none

removing empty annotations
  Benchmark-Models/Blasi_CellSystems2016/model_Blasi_CellSystems2016_allCombinations.xml
Owners: none

fix dataset id
  Benchmark-Models/Schwen_PONE2014/measurementData_Schwen_PONE2014.tsv
  Benchmark-Models/Schwen_PONE2014/simulatedData_Schwen_PONE2014.tsv
Owners: none

Fix visualization specification for Zhao.
  Benchmark-Models/Zhao_QuantBiol2020/visualizationSpecification_Zhao_QuantBiol2020.tsv
Owners: @IvaEwert, @dilpath, @elbaraim

Fix.
  Benchmark-Models/Zhao_QuantBiol2020/visualizationSpecification_Zhao_QuantBiol2020.tsv
Owners: @IvaEwert, @dilpath, @elbaraim

Make Bertozzi_PNAS2020 consistent.
  Benchmark-Models/Bertozzi_PNAS2020/model_Bertozzi_PNAS2020.xml
Owners: @vanako, @dilpath, @elbaraim

update bertozzi
  Benchmark-Models/Bertozzi_PNAS2020/Bertozzi_PNAS2020.yaml
  Benchmark-Models/Bertozzi_PNAS2020/_notes.md
  Benchmark-Models/Bertozzi_PNAS2020/conditions.tsv
  Benchmark-Models/Bertozzi_PNAS2020/experimentalCondition_Bertozzi_PNAS2020.tsv
  Benchmark-Models/Bertozzi_PNAS2020/measurementData_Bertozzi_PNAS2020.tsv
  Benchmark-Models/Bertozzi_PNAS2020/measurements.tsv
  Benchmark-Models/Bertozzi_PNAS2020/model.xml
  Benchmark-Models/Bertozzi_PNAS2020/model_Bertozzi_PNAS2020.xml
  Benchmark-Models/Bertozzi_PNAS2020/observables.tsv
  Benchmark-Models/Bertozzi_PNAS2020/observables_Bertozzi_PNAS2020.tsv
  Benchmark-Models/Bertozzi_PNAS2020/parameters.tsv
  Benchmark-Models/Bertozzi_PNAS2020/parameters_Bertozzi_PNAS2020.tsv
  Benchmark-Models/Bertozzi_PNAS2020/problem.yaml
  Benchmark-Models/Bertozzi_PNAS2020/visualizationSpecification_Bertozzi_PNAS2020.tsv
  Benchmark-Models/Bertozzi_PNAS2020/visualizations.tsv
Owners: @vanako, @dilpath, @elbaraim

Add get_problem_yaml_path
  src/python/benchmark_models_petab/__init__.py
  src/python/benchmark_models_petab/base.py
Owners: none

Update src/python/benchmark_models_petab/base.py
  src/python/benchmark_models_petab/base.py
Owners: none

CODEOWNERS:

/Benchmark-Models/Alkan_SciSignal2018	@LaraFuhrmann
/Benchmark-Models/Bachmann_MSB2011
/Benchmark-Models/Beer_MolBioSystems2014
/Benchmark-Models/Bertozzi_PNAS2020	@vanako	@dilpath	@elbaraim
/Benchmark-Models/Blasi_CellSystems2016
/Benchmark-Models/Boehm_JProteomeRes2014
/Benchmark-Models/Borghans_BiophysChem1997
/Benchmark-Models/Brannmark_JBC2010
/Benchmark-Models/Bruno_JExpBot2016
/Benchmark-Models/Chen_MSB2009	@elbaraim
/Benchmark-Models/Crauste_CellSystems2017
/Benchmark-Models/Elowitz_Nature2000
/Benchmark-Models/Fiedler_BMC2016
/Benchmark-Models/Fujita_SciSignal2010	@elbaraim	@dilpath
/Benchmark-Models/Giordano_Nature2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Isensee_JCB2018
/Benchmark-Models/Laske_PLOSComputBiol2019	@C-Peiter	@lcontento
/Benchmark-Models/Lucarelli_CellSystems2018
/Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Oliveira_NatCommun2021	@lorenapohl	@dilpath	@elbaraim
/Benchmark-Models/Perelson_Science1996	@PhilippStaedter
/Benchmark-Models/Rahman_MBS2016	@dilpath
/Benchmark-Models/Raimundez_PCB2020	@elbaraim
/Benchmark-Models/SalazarCavazos_MBoC2020	@dilpath
/Benchmark-Models/Schwen_PONE2014
/Benchmark-Models/Sneyd_PNAS2002
/Benchmark-Models/Weber_BMC2015
/Benchmark-Models/Zhao_QuantBiol2020	@IvaEwert	@dilpath	@elbaraim
/Benchmark-Models/Zheng_PNAS2012
