Repository Benchmarking-Initiative/Benchmark-Models-PEtab, changes with the owners that CODEOWNERS names for each.
All owners: @LaraFuhrmann, @vanako, @dilpath, @elbaraim, @PaulJonasJost, @C-Peiter, @lcontento, @lorenapohl, @PhilippStaedter, @IvaEwert

.....
  src/python/benchmark_models_petab/base.py
Owners: none

Add get_problem_yaml_path (#223)
  src/python/benchmark_models_petab/__init__.py
  src/python/benchmark_models_petab/base.py
Owners: none

GHA: Enable dependabot for action upgrades
  .github/dependabot.yml
Owners: none

refactor into paper parameters; change infection reaction to avoid copasi warning
  Benchmark-Models/Bertozzi_PNAS2020/conditions.tsv
  Benchmark-Models/Bertozzi_PNAS2020/model.xml
  Benchmark-Models/Bertozzi_PNAS2020/parameters.tsv
Owners: @vanako, @dilpath, @elbaraim

Require newer PEtab, use petab.v1
  src/python/benchmark_models_petab/base.py
  src/python/setup.cfg
Owners: none

Require newer PEtab, use petab.v1 (#225)
  src/python/benchmark_models_petab/base.py
  src/python/setup.cfg
Owners: none

simulated data
  Benchmark-Models/Bertozzi_PNAS2020/simulatedData_Bertozzi_PNAS2020.tsv
  Benchmark-Models/Bertozzi_PNAS2020/simulations.tsv
Owners: @vanako, @dilpath, @elbaraim

add optimized parameters to parameters table
  Benchmark-Models/Bertozzi_PNAS2020/parameters.tsv
Owners: @vanako, @dilpath, @elbaraim

checklist; use `petab.v1`
  Benchmark-Models/Bertozzi_PNAS2020/model.xml
  README.md
  scripts/_helpers.py
  scripts/check_sbml_metadata.py
  scripts/overview.py
Owners: @vanako, @dilpath, @elbaraim

delete notes; info is outdated or in #99
  Benchmark-Models/Bertozzi_PNAS2020/_notes.md
Owners: @vanako, @dilpath, @elbaraim

change tests to python 3.11
  .github/workflows/tests.yml
Owners: none

change log parameter lower bounds to min(., 1e-24); remove unspecified priors
  Benchmark-Models/Lang_PLOSComputBiol2024/parameters_Lang_PLOSComputBiol2024.tsv
  scripts/check_petablint.py
Owners: none

Zhao_QuantBiol2020: fix visualization specification. (#217)
  Benchmark-Models/Zhao_QuantBiol2020/visualizationSpecification_Zhao_QuantBiol2020.tsv
Owners: @IvaEwert, @dilpath, @elbaraim

Bertozzi_PNAS2020: update to match Table 1 of paper (#222)
  .github/workflows/tests.yml
  Benchmark-Models/Bertozzi_PNAS2020/Bertozzi_PNAS2020.yaml
  Benchmark-Models/Bertozzi_PNAS2020/Bertozzi_PNAS2020_notes_on_model.txt
  Benchmark-Models/Bertozzi_PNAS2020/conditions.tsv
  Benchmark-Models/Bertozzi_PNAS2020/experimentalCondition_Bertozzi_PNAS2020.tsv
  Benchmark-Models/Bertozzi_PNAS2020/measurementData_Bertozzi_PNAS2020.tsv
  Benchmark-Models/Bertozzi_PNAS2020/measurements.tsv
  Benchmark-Models/Bertozzi_PNAS2020/model.xml
  Benchmark-Models/Bertozzi_PNAS2020/model_Bertozzi_PNAS2020.xml
  Benchmark-Models/Bertozzi_PNAS2020/observables.tsv
  Benchmark-Models/Bertozzi_PNAS2020/observables_Bertozzi_PNAS2020.tsv
  Benchmark-Models/Bertozzi_PNAS2020/parameters.tsv
  Benchmark-Models/Bertozzi_PNAS2020/parameters_Bertozzi_PNAS2020.tsv
  Benchmark-Models/Bertozzi_PNAS2020/problem.yaml
  Benchmark-Models/Bertozzi_PNAS2020/simulatedData_Bertozzi_PNAS2020.tsv
  Benchmark-Models/Bertozzi_PNAS2020/simulations.tsv
  Benchmark-Models/Bertozzi_PNAS2020/visualizationSpecification_Bertozzi_PNAS2020.tsv
  Benchmark-Models/Bertozzi_PNAS2020/visualizations.tsv
  README.md
  scripts/_helpers.py
  scripts/check_sbml_metadata.py
  scripts/overview.py
Owners: @vanako, @dilpath, @elbaraim

Update Lang_PLOSComputBiol2024 to fix petablint errors (#228)
  Benchmark-Models/Lang_PLOSComputBiol2024/parameters_Lang_PLOSComputBiol2024.tsv
  scripts/check_petablint.py
Owners: none

GHA: Enable dependabot for action upgrades (#224)
  .github/dependabot.yml
Owners: none

Fix tsv format in parameters_Schwen_PONE2014.tsv
  Benchmark-Models/Schwen_PONE2014/parameters_Schwen_PONE2014.tsv
Owners: none

Fix tsv format in parameters_Schwen_PONE2014.tsv (#234)
  Benchmark-Models/Schwen_PONE2014/parameters_Schwen_PONE2014.tsv
Owners: none

Fix parameter ID typo in Giordano_Nature2020
  Benchmark-Models/Giordano_Nature2020/Giordano_Nature2020_model.xml
Owners: @PaulJonasJost, @dilpath, @elbaraim

Consolidate scripts and python package
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  scripts/_helpers.py
  scripts/check_petablint.py
  scripts/check_sbml_metadata.py
  scripts/overview.py
  scripts/requirements.txt
  src/python/benchmark_models_petab/C.py
  src/python/benchmark_models_petab/base.py
  src/python/benchmark_models_petab/check_petablint.py
  src/python/benchmark_models_petab/check_sbml_metadata.py
  src/python/benchmark_models_petab/overview.py
  src/python/build.sh
  src/python/pyproject.toml
  src/python/setup.cfg
  src/python/setup.py
Owners: none

pull_request_template.md
  .github/pull_request_template.md
Owners: none

fix cli
  src/python/benchmark_models_petab/overview.py
Owners: none

Extend overview table: add objective priors (Closes #232)
  README.md
  src/python/benchmark_models_petab/overview.py
Owners: none

Update authors/maintainers
  src/python/pyproject.toml
Owners: none

import
  src/python/benchmark_models_petab/__init__.py
Owners: none

Consolidate scripts and python package (#238)
  .github/pull_request_template.md
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  README.md
  scripts/_helpers.py
  scripts/check_petablint.py
  scripts/check_sbml_metadata.py
  scripts/overview.py
  scripts/requirements.txt
  src/python/benchmark_models_petab/C.py
  src/python/benchmark_models_petab/__init__.py
  src/python/benchmark_models_petab/base.py
  src/python/benchmark_models_petab/check_petablint.py
  src/python/benchmark_models_petab/check_sbml_metadata.py
  src/python/benchmark_models_petab/overview.py
  src/python/build.sh
  src/python/pyproject.toml
  src/python/setup.cfg
  src/python/setup.py
Owners: none

fix Fiedler_BMCSystBiol2016 ID
  Benchmark-Models/Fiedler_BMC2016/Fiedler_BMC2016.yaml
  Benchmark-Models/Fiedler_BMCSystBiol2016/Fiedler_BMCSystBiol2016.yaml
  Benchmark-Models/Fiedler_BMCSystBiol2016/experimentalCondition_Fiedler_BMCSystBiol2016.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/measurementData_Fiedler_BMCSystBiol2016.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/model_Fiedler_BMCSystBiol2016.xml
  Benchmark-Models/Fiedler_BMCSystBiol2016/observables_Fiedler_BMCSystBiol2016.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/parameters_Fiedler_BMCSystBiol2016.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/simulatedData_Fiedler_BMCSystBiol2016.tsv
  README.md
Owners: none

run bmp-create-overview
  README.md
Owners: none

add reformulated Fiedler model
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/model.xml
Owners: none

Fix parameter ID typo in Giordano_Nature2020 (#237)
  Benchmark-Models/Giordano_Nature2020/Giordano_Nature2020_model.xml
Owners: @PaulJonasJost, @dilpath, @elbaraim

Overview table: discontinuities
  README.md
  src/python/benchmark_models_petab/overview.py
  src/python/pyproject.toml
Owners: none

Fix Fiedler_BMCSystBiol2016 ID (#240)
  Benchmark-Models/Fiedler_BMC2016/Fiedler_BMC2016.yaml
  Benchmark-Models/Fiedler_BMCSystBiol2016/Fiedler_BMCSystBiol2016.yaml
  Benchmark-Models/Fiedler_BMCSystBiol2016/experimentalCondition_Fiedler_BMCSystBiol2016.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/measurementData_Fiedler_BMCSystBiol2016.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/model_Fiedler_BMCSystBiol2016.xml
  Benchmark-Models/Fiedler_BMCSystBiol2016/observables_Fiedler_BMCSystBiol2016.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/parameters_Fiedler_BMCSystBiol2016.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/simulatedData_Fiedler_BMCSystBiol2016.tsv
  README.md
Owners: none

Use setuptools_scm for package versions
  src/python/benchmark_models_petab/__init__.py
  src/python/benchmark_models_petab/version.py
  src/python/build.sh
  src/python/pyproject.toml
Owners: none

update how to cite
  README.md
Owners: none

Use setuptools_scm for package versions (#243)
  src/python/benchmark_models_petab/__init__.py
  src/python/benchmark_models_petab/version.py
  src/python/build.sh
  src/python/pyproject.toml
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Overview table: discontinuities
  README.md
  src/python/benchmark_models_petab/overview.py
  src/python/pyproject.toml
Owners: none

Apply suggestions from code review
  src/python/benchmark_models_petab/overview.py
Owners: none

CODEOWNERS:

/Benchmark-Models/Alkan_SciSignal2018	@LaraFuhrmann
/Benchmark-Models/Bachmann_MSB2011
/Benchmark-Models/Beer_MolBioSystems2014
/Benchmark-Models/Bertozzi_PNAS2020	@vanako	@dilpath	@elbaraim
/Benchmark-Models/Blasi_CellSystems2016
/Benchmark-Models/Boehm_JProteomeRes2014
/Benchmark-Models/Borghans_BiophysChem1997
/Benchmark-Models/Brannmark_JBC2010
/Benchmark-Models/Bruno_JExpBot2016
/Benchmark-Models/Chen_MSB2009	@elbaraim
/Benchmark-Models/Crauste_CellSystems2017
/Benchmark-Models/Elowitz_Nature2000
/Benchmark-Models/Fiedler_BMC2016
/Benchmark-Models/Fujita_SciSignal2010	@elbaraim	@dilpath
/Benchmark-Models/Giordano_Nature2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Isensee_JCB2018
/Benchmark-Models/Laske_PLOSComputBiol2019	@C-Peiter	@lcontento
/Benchmark-Models/Lucarelli_CellSystems2018
/Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Oliveira_NatCommun2021	@lorenapohl	@dilpath	@elbaraim
/Benchmark-Models/Perelson_Science1996	@PhilippStaedter
/Benchmark-Models/Rahman_MBS2016	@dilpath
/Benchmark-Models/Raimundez_PCB2020	@elbaraim
/Benchmark-Models/SalazarCavazos_MBoC2020	@dilpath
/Benchmark-Models/Schwen_PONE2014
/Benchmark-Models/Sneyd_PNAS2002
/Benchmark-Models/Weber_BMC2015
/Benchmark-Models/Zhao_QuantBiol2020	@IvaEwert	@dilpath	@elbaraim
/Benchmark-Models/Zheng_PNAS2012
