Repository Benchmarking-Initiative/Benchmark-Models-PEtab, changes with the owners that CODEOWNERS names for each.
All owners: @LaraFuhrmann, @vanako, @dilpath, @elbaraim, @PaulJonasJost, @C-Peiter, @lcontento, @lorenapohl, @PhilippStaedter, @IvaEwert

CODEOWNERS:

/Benchmark-Models/Alkan_SciSignal2018	@LaraFuhrmann
/Benchmark-Models/Bachmann_MSB2011
/Benchmark-Models/Beer_MolBioSystems2014
/Benchmark-Models/Bertozzi_PNAS2020	@vanako	@dilpath	@elbaraim
/Benchmark-Models/Blasi_CellSystems2016
/Benchmark-Models/Boehm_JProteomeRes2014
/Benchmark-Models/Borghans_BiophysChem1997
/Benchmark-Models/Brannmark_JBC2010
/Benchmark-Models/Bruno_JExpBot2016
/Benchmark-Models/Chen_MSB2009	@elbaraim
/Benchmark-Models/Crauste_CellSystems2017
/Benchmark-Models/Elowitz_Nature2000
/Benchmark-Models/Fiedler_BMC2016
/Benchmark-Models/Fujita_SciSignal2010	@elbaraim	@dilpath
/Benchmark-Models/Giordano_Nature2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Isensee_JCB2018
/Benchmark-Models/Laske_PLOSComputBiol2019	@C-Peiter	@lcontento
/Benchmark-Models/Lucarelli_CellSystems2018
/Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Oliveira_NatCommun2021	@lorenapohl	@dilpath	@elbaraim
/Benchmark-Models/Perelson_Science1996	@PhilippStaedter
/Benchmark-Models/Rahman_MBS2016	@dilpath
/Benchmark-Models/Raimundez_PCB2020	@elbaraim
/Benchmark-Models/SalazarCavazos_MBoC2020	@dilpath
/Benchmark-Models/Schwen_PONE2014
/Benchmark-Models/Sneyd_PNAS2002
/Benchmark-Models/Weber_BMC2015
/Benchmark-Models/Zhao_QuantBiol2020	@IvaEwert	@dilpath	@elbaraim
/Benchmark-Models/Zheng_PNAS2012

..
  v1_v2.py
Owners: none

Convert to PEtab v2
  v1_v2.py
Owners: none

..
  v2/Brannmark_JBC2010/measurementData_Brannmark_JBC2010.tsv
  v2/Isensee_JCB2018/measurementData_Isensee_JCB2018.tsv
Owners: none

Apply suggestions from code review
  src/python/pyproject.toml
Owners: none

Cook_AIChE2022: address review feedback
  Benchmark-Models/Cook_AIChE2022/README.md
  Benchmark-Models/Cook_AIChE2022/conditions_Cook_AIChE2022.tsv
  Benchmark-Models/Cook_AIChE2022/make_figures.py
  Benchmark-Models/Cook_AIChE2022/measurementData_Cook_AIChE2022.tsv
  Benchmark-Models/Cook_AIChE2022/measurementData_validation_Cook_AIChE2022.tsv
  Benchmark-Models/Cook_AIChE2022/model_Cook_AIChE2022.xml
  Benchmark-Models/Cook_AIChE2022/observables_Cook_AIChE2022.tsv
  Benchmark-Models/Cook_AIChE2022/parameters_Cook_AIChE2022.tsv
  Benchmark-Models/Cook_AIChE2022/simulatedData_Cook_AIChE2022.tsv
  src/python/benchmark_models_petab/base.py
  src/python/simulate.py
Owners: none

Cook_AIChE2022: use the original k2adj bounds, document fitting experience
  Benchmark-Models/Cook_AIChE2022/README.md
  Benchmark-Models/Cook_AIChE2022/parameters_Cook_AIChE2022.tsv
Owners: none

Alkan_SciSignal2018: fix 32 measurements off by factor 1000
  Benchmark-Models/Alkan_SciSignal2018/measurementData_Alkan_SciSignal2018.tsv
Owners: @LaraFuhrmann

Alkan_SciSignal2018: fix 32 measurements off by factor 1000 (#319)
  Benchmark-Models/Alkan_SciSignal2018/measurementData_Alkan_SciSignal2018.tsv
Owners: @LaraFuhrmann

Alkan_SciSignal2018: fix noise (sd_) parameters to be fixed, not estimated
  Benchmark-Models/Alkan_SciSignal2018/parameters_Alkan_SciSignal2018.tsv
Owners: @LaraFuhrmann

Perelson_Science1996: use Wu data release instead of digitised data (#322)
  Benchmark-Models/Perelson_Science1996/measurementData_Perelson_Science1996.tsv
Owners: @PhilippStaedter

Perelson_Science1996: rename observable to patient_105
  Benchmark-Models/Perelson_Science1996/measurementData_Perelson_Science1996.tsv
  Benchmark-Models/Perelson_Science1996/observables_Perelson_Science1996.tsv
  Benchmark-Models/Perelson_Science1996/parameters_Perelson_Science1996.tsv
  Benchmark-Models/Perelson_Science1996/simulatedData_Perelson_Science1996.tsv
  Benchmark-Models/Perelson_Science1996/visualizationSpecification_Perelson_Science1996.tsv
Owners: @PhilippStaedter

Perelson_Science1996: name species and parameters after the paper
  Benchmark-Models/Perelson_Science1996/model_Perelson_Science1996.xml
  Benchmark-Models/Perelson_Science1996/parameters_Perelson_Science1996.tsv
Owners: @PhilippStaedter

Perelson_Science1996: fit on the paper's time base and estimate V0
  Benchmark-Models/Perelson_Science1996/README.md
  Benchmark-Models/Perelson_Science1996/measurementData_Perelson_Science1996.tsv
  Benchmark-Models/Perelson_Science1996/model_Perelson_Science1996.xml
  Benchmark-Models/Perelson_Science1996/observables_Perelson_Science1996.tsv
  Benchmark-Models/Perelson_Science1996/parameters_Perelson_Science1996.tsv
  Benchmark-Models/Perelson_Science1996/simulatedData_Perelson_Science1996.tsv
  Benchmark-Models/Perelson_Science1996/visualizationSpecification_Perelson_Science1996.tsv
  README.md
Owners: @PhilippStaedter

Alkan_SciSignal2018: fix noise (sd_) parameters to be fixed, not estimated (#321)
  Benchmark-Models/Alkan_SciSignal2018/parameters_Alkan_SciSignal2018.tsv
Owners: @LaraFuhrmann

Fix and validate TSV file formatting for GitHub preview (#233)
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  Benchmark-Models/Alkan_SciSignal2018/visualizationSpecification_Alkan_SciSignal2018.tsv
  Benchmark-Models/Armistead_CellDeathDis2024/experimentalConditions_Armistead_CellDeathDis2024.tsv
  Benchmark-Models/Armistead_CellDeathDis2024/observables_Armistead_CellDeathDis2024.tsv
  Benchmark-Models/Bachmann_MSB2011/parameters_Bachmann_MSB2011.tsv
  Benchmark-Models/Beer_MolBioSystems2014/experimentalCondition_Beer_MolBioSystems2014.tsv
  Benchmark-Models/Boehm_JProteomeRes2014/measurementData_Boehm_JProteomeRes2014.tsv
  Benchmark-Models/Bruno_JExpBot2016/visualizationSpecification_Bruno_JExpBot2016.tsv
  Benchmark-Models/Elowitz_Nature2000/simulatedData_Elowitz_Nature2000.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/observables_Fiedler_BMCSystBiol2016.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/observables_Fiedler_BMCSystBiol2016_rel.tsv
  Benchmark-Models/Giordano_Nature2020/experimentalCondition_Giordano_Nature2020.tsv
  Benchmark-Models/Isensee_JCB2018/experimentalCondition_Isensee_JCB2018.tsv
  Benchmark-Models/Lang_PLOSComputBiol2024/experimentalCondition_Lang_PLOSComputBiol2024.tsv
  Benchmark-Models/Lang_PLOSComputBiol2024/observables_Lang_PLOSComputBiol2024.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/measurements.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/experimentalCondition_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/observables_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/SalazarCavazos_MBoC2020/observables_SalazarCavazos_MBoC2020.tsv
  src/python/benchmark_models_petab/check_tsv_format.py
  src/python/pyproject.toml
  src/python/test/test_check_tsv_format.py
Owners: @LaraFuhrmann, @PaulJonasJost, @dilpath, @elbaraim

remove dangling reference
  Benchmark-Models/Perelson_Science1996/README.md
Owners: @PhilippStaedter

Fix and validate TSV file formatting for GitHub preview (#233) (#325)
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  Benchmark-Models/Alkan_SciSignal2018/visualizationSpecification_Alkan_SciSignal2018.tsv
  Benchmark-Models/Armistead_CellDeathDis2024/experimentalConditions_Armistead_CellDeathDis2024.tsv
  Benchmark-Models/Armistead_CellDeathDis2024/observables_Armistead_CellDeathDis2024.tsv
  Benchmark-Models/Bachmann_MSB2011/parameters_Bachmann_MSB2011.tsv
  Benchmark-Models/Beer_MolBioSystems2014/experimentalCondition_Beer_MolBioSystems2014.tsv
  Benchmark-Models/Boehm_JProteomeRes2014/measurementData_Boehm_JProteomeRes2014.tsv
  Benchmark-Models/Bruno_JExpBot2016/visualizationSpecification_Bruno_JExpBot2016.tsv
  Benchmark-Models/Elowitz_Nature2000/simulatedData_Elowitz_Nature2000.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/observables_Fiedler_BMCSystBiol2016.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/observables_Fiedler_BMCSystBiol2016_rel.tsv
  Benchmark-Models/Giordano_Nature2020/experimentalCondition_Giordano_Nature2020.tsv
  Benchmark-Models/Isensee_JCB2018/experimentalCondition_Isensee_JCB2018.tsv
  Benchmark-Models/Lang_PLOSComputBiol2024/experimentalCondition_Lang_PLOSComputBiol2024.tsv
  Benchmark-Models/Lang_PLOSComputBiol2024/observables_Lang_PLOSComputBiol2024.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/measurements.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/experimentalCondition_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/observables_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/SalazarCavazos_MBoC2020/observables_SalazarCavazos_MBoC2020.tsv
  src/python/benchmark_models_petab/check_tsv_format.py
  src/python/pyproject.toml
  src/python/test/test_check_tsv_format.py
Owners: @LaraFuhrmann, @PaulJonasJost, @dilpath, @elbaraim

Fix problem.yaml content missed in the previous restructuring commit
  problems/Alkan_SciSignal2018/v1/problem.yaml
  problems/Armistead_CellDeathDis2024/v1/problem.yaml
  problems/Bachmann_MSB2011/v1/problem.yaml
  problems/Beer_MolBioSystems2014/v1/problem.yaml
  problems/Bertozzi_PNAS2020/v1/problem.yaml
  problems/Blasi_CellSystems2016/v1/problem.yaml
  problems/Boehm_JProteomeRes2014/v1/problem.yaml
  problems/Borghans_BiophysChem1997/v1/problem.yaml
  problems/Brannmark_JBC2010/v1/problem.yaml
  problems/Bruno_JExpBot2016/v1/problem.yaml
  problems/Chen_MSB2009/v1/problem.yaml
  problems/Crauste_CellSystems2017/v1/problem.yaml
  problems/Elowitz_Nature2000/v1/problem.yaml
  problems/Fiedler_BMCSystBiol2016/v1/problem.yaml
  problems/Froehlich_CellSystems2018/v1/problem.yaml
  problems/Fujita_SciSignal2010/v1/problem.yaml
  problems/Giordano_Nature2020/v1/problem.yaml
  problems/Isensee_JCB2018/v1/problem.yaml
  problems/Lang_PLOSComputBiol2024/v1/problem.yaml
  problems/Laske_PLOSComputBiol2019/v1/problem.yaml
  problems/Liu_IFACPapersOnLine2025/v1/problem.yaml
  problems/Lucarelli_CellSystems2018/v1/problem.yaml
  problems/Okuonghae_ChaosSolitonsFractals2020/v1/problem.yaml
  problems/Oliveira_NatCommun2021/v1/problem.yaml
  problems/Perelson_Science1996/v1/problem.yaml
  problems/Rahman_MBS2016/v1/problem.yaml
  problems/Raia_CancerResearch2011/v1/problem.yaml
  problems/Raimundez_PCB2020/v1/problem.yaml
  problems/SalazarCavazos_MBoC2020/v1/problem.yaml
  problems/Schwen_PONE2014/v1/problem.yaml
  problems/Smith_BMCSystBiol2013/v1/problem.yaml
  problems/Sneyd_PNAS2002/v1/problem.yaml
  problems/Weber_BMC2015/v1/problem.yaml
  problems/Zhao_QuantBiol2020/v1/problem.yaml
  problems/Zheng_PNAS2012/v1/problem.yaml
Owners: none

Extract constants
  src/python/benchmark_models_petab/C.py
  src/python/benchmark_models_petab/base.py
  src/python/benchmark_models_petab/overview.py
Owners: none

fix ignore
  .gitignore
Owners: none

Add check for broken PEtab YAML references under problems/resources
  .github/workflows/tests.yml
  problems/Fujita_SciSignal2010/resources/test_data/input_all_Fujita_SciSignal2010.yaml
  problems/Fujita_SciSignal2010/resources/test_data/input_pulse_Fujita_SciSignal2010.yaml
  problems/Fujita_SciSignal2010/resources/test_data/input_ramp_Fujita_SciSignal2010.yaml
  problems/Fujita_SciSignal2010/resources/test_data/input_test_Fujita_SciSignal2010.yaml
  problems/Oliveira_NatCommun2021/resources/Bahia/Oliveira_NatCommun2021_Bahia.yaml
  problems/Smith_BMCSystBiol2013/resources/sim_test/Smith_BMCSystBiol2013_test.yaml
  problems/Zhao_QuantBiol2020/resources/petab_test_Zhao_QuantBiol2020.yaml
  src/python/benchmark_models_petab/check_petab_yaml.py
  src/python/benchmark_models_petab/check_petablint.py
  src/python/pyproject.toml
  src/python/test/test_check_petab_yaml.py
Owners: none

Prepare library API and docs for PEtab v2 problems
  .github/pull_request_template.md
  CONTRIBUTING.md
  src/python/benchmark_models_petab/C.py
  src/python/benchmark_models_petab/__init__.py
  src/python/benchmark_models_petab/v1.py
  src/python/benchmark_models_petab/v2.py
  src/python/test/test_v1.py
  src/python/test/test_v2.py
Owners: none
