Repository Benchmarking-Initiative/Benchmark-Models-PEtab, changes with the owners that CODEOWNERS names for each.
All owners: @LaraFuhrmann, @vanako, @dilpath, @elbaraim, @PaulJonasJost, @C-Peiter, @lcontento, @lorenapohl, @PhilippStaedter, @IvaEwert

CODEOWNERS:

/Benchmark-Models/Alkan_SciSignal2018	@LaraFuhrmann
/Benchmark-Models/Bachmann_MSB2011
/Benchmark-Models/Beer_MolBioSystems2014
/Benchmark-Models/Bertozzi_PNAS2020	@vanako	@dilpath	@elbaraim
/Benchmark-Models/Blasi_CellSystems2016
/Benchmark-Models/Boehm_JProteomeRes2014
/Benchmark-Models/Borghans_BiophysChem1997
/Benchmark-Models/Brannmark_JBC2010
/Benchmark-Models/Bruno_JExpBot2016
/Benchmark-Models/Chen_MSB2009	@elbaraim
/Benchmark-Models/Crauste_CellSystems2017
/Benchmark-Models/Elowitz_Nature2000
/Benchmark-Models/Fiedler_BMC2016
/Benchmark-Models/Fujita_SciSignal2010	@elbaraim	@dilpath
/Benchmark-Models/Giordano_Nature2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Isensee_JCB2018
/Benchmark-Models/Laske_PLOSComputBiol2019	@C-Peiter	@lcontento
/Benchmark-Models/Lucarelli_CellSystems2018
/Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Oliveira_NatCommun2021	@lorenapohl	@dilpath	@elbaraim
/Benchmark-Models/Perelson_Science1996	@PhilippStaedter
/Benchmark-Models/Rahman_MBS2016	@dilpath
/Benchmark-Models/Raimundez_PCB2020	@elbaraim
/Benchmark-Models/SalazarCavazos_MBoC2020	@dilpath
/Benchmark-Models/Schwen_PONE2014
/Benchmark-Models/Sneyd_PNAS2002
/Benchmark-Models/Weber_BMC2015
/Benchmark-Models/Zhao_QuantBiol2020	@IvaEwert	@dilpath	@elbaraim
/Benchmark-Models/Zheng_PNAS2012

remove unused parameter from model
  Benchmark-Models/Lucarelli_CellSystems2018/model_Lucarelli_CellSystems2018.xml
Owners: none

remove unused columns
  Benchmark-Models/Lucarelli_CellSystems2018/measurementData_Lucarelli_CellSystems2018.tsv
Owners: none

Update simulatedData_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/simulatedData_Lucarelli_CellSystems2018.tsv
Owners: none

fix empty rows
  Benchmark-Models/Isensee_JCB2018/parameters_Isensee_JCB2018.tsv
Owners: none

remove index from measurement table
  Benchmark-Models/Isensee_JCB2018/measurementData_Isensee_JCB2018.tsv
Owners: none

update simulated data
  Benchmark-Models/Isensee_JCB2018/simulationData_Isensee_JCB2018.tsv
Owners: none

Fix Isensee_JCB2018 (#138)
  Benchmark-Models/Isensee_JCB2018/experimentalCondition_Isensee_JCB2018.tsv
  Benchmark-Models/Isensee_JCB2018/measurementData_Isensee_JCB2018.tsv
  Benchmark-Models/Isensee_JCB2018/model_Isensee_JCB2018.xml
  Benchmark-Models/Isensee_JCB2018/observables_Isensee_JCB2018.tsv
  Benchmark-Models/Isensee_JCB2018/parameters_Isensee_JCB2018.tsv
  Benchmark-Models/Isensee_JCB2018/simulationData_Isensee_JCB2018.tsv
Owners: none

add priors, fixes #139 (#141)
  Benchmark-Models/Schwen_PONE2014/parameters_Schwen_PONE2014.tsv
Owners: none

Fix lucarelli (#140)
  Benchmark-Models/Lucarelli_CellSystems2018/experimentalCondition_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/measurementData_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/model_Lucarelli_CellSystems2018.xml
  Benchmark-Models/Lucarelli_CellSystems2018/observables_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/simulatedData_Lucarelli_CellSystems2018.tsv
Owners: none

Simplify Beer, fixes #114 (#134)
  Benchmark-Models/Beer_MolBioSystems2014/experimentalCondition_Beer_MolBioSystems2014.tsv
  Benchmark-Models/Beer_MolBioSystems2014/measurementData_Beer_MolBioSystems2014.tsv
  Benchmark-Models/Beer_MolBioSystems2014/model_Beer_MolBioSystems2014.xml
  Benchmark-Models/Beer_MolBioSystems2014/simulatedData_Beer_MolBioSystems2014.tsv
Owners: none

increase accuracy of priors
  Benchmark-Models/Bachmann_MSB2011/parameters_Bachmann_MSB2011.tsv
  Benchmark-Models/Schwen_PONE2014/parameters_Schwen_PONE2014.tsv
Owners: none

fix column names
  Benchmark-Models/Bachmann_MSB2011/parameters_Bachmann_MSB2011.tsv
  Benchmark-Models/Schwen_PONE2014/parameters_Schwen_PONE2014.tsv
Owners: none

Fix priors for Schwen, Bachmann (#143)
  Benchmark-Models/Bachmann_MSB2011/parameters_Bachmann_MSB2011.tsv
  Benchmark-Models/Schwen_PONE2014/parameters_Schwen_PONE2014.tsv
Owners: none

remove zero padding from condition names
  Benchmark-Models/Fujita_SciSignal2010/experimentalCondition_Fujita_SciSignal2010.tsv
Owners: @elbaraim, @dilpath

Add test data to Fujita_SciSignal2010 (#131)
  Benchmark-Models/Fujita_SciSignal2010/Fujita_SciSignal2010.yaml
  Benchmark-Models/Fujita_SciSignal2010/experimentalCondition_Fujita_SciSignal2010.tsv
  Benchmark-Models/Fujita_SciSignal2010/measurementData_Fujita_SciSignal2010.tsv
  Benchmark-Models/Fujita_SciSignal2010/measurementData_step_Fujita_SciSignal2010.tsv
  Benchmark-Models/Fujita_SciSignal2010/model_Fujita_SciSignal2010.xml
  Benchmark-Models/Fujita_SciSignal2010/test_data/input_all_Fujita_SciSignal2010.yaml
  Benchmark-Models/Fujita_SciSignal2010/test_data/input_pulse_Fujita_SciSignal2010.yaml
  Benchmark-Models/Fujita_SciSignal2010/test_data/input_ramp_Fujita_SciSignal2010.yaml
  Benchmark-Models/Fujita_SciSignal2010/test_data/input_test_Fujita_SciSignal2010.yaml
  Benchmark-Models/Fujita_SciSignal2010/test_data/measurementData_pulse_Fujita_SciSignal2010.tsv
  Benchmark-Models/Fujita_SciSignal2010/test_data/measurementData_ramp_Fujita_SciSignal2010.tsv
Owners: @elbaraim, @dilpath

fix column name and increase mean accuracy
  Benchmark-Models/Isensee_JCB2018/parameters_Isensee_JCB2018.tsv
Owners: none

remove nan measurements from Blasi
  Benchmark-Models/Blasi_CellSystems2016/measurementData_Blasi_CellSystems2016.tsv
Owners: none

Fix Isensee prior (#144)
  Benchmark-Models/Blasi_CellSystems2016/measurementData_Blasi_CellSystems2016.tsv
  Benchmark-Models/Isensee_JCB2018/parameters_Isensee_JCB2018.tsv
Owners: none

Adding suggestion of optimizers for benchmark models.
  README.md
Owners: none

add pre/postequilibration info, count piecewise in parameters as events
  Benchmark-Models/model_info.py
Owners: none

Update Benchmark-Models/model_info.py
  Benchmark-Models/model_info.py
Owners: none

Update Benchmark-Models/model_info.py
  Benchmark-Models/model_info.py
Owners: none

Update Benchmark-Models/model_info.py
  Benchmark-Models/model_info.py
Owners: none

update readme
  README.md
Owners: none

include suggestions
  Benchmark-Models/model_info.py
Owners: none

search only function piecewise
  Benchmark-Models/model_info.py
Owners: none

Overview table: link to respective directory
  Benchmark-Models/model_info.py
  README.md
Owners: none

Overview table: link to respective directory (#148)
  Benchmark-Models/model_info.py
  README.md
Owners: none

Overview table: link to respective publication
  Benchmark-Models/model_info.py
  README.md
Owners: none

Update Benchmark-Models/model_info.py
  Benchmark-Models/model_info.py
Owners: none

review comments
  Benchmark-Models/model_info.py
Owners: none

Overview table: link to respective publication (#149)
  Benchmark-Models/model_info.py
  README.md
Owners: none

convert fixed initial assignments to parameter values
  Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020/Okuonghae_ChaosSolitonsFractals2020_model.xml
Owners: @PaulJonasJost, @dilpath, @elbaraim

add check for sbml metadata; refactor scripts; move scripts to separate dir
  .github/workflows/tests.yml
  .gitignore
  Benchmark-Models/checkBenchmarkModels.py
  scripts/_helpers.py
  scripts/check_petablint.py
  scripts/check_sbml_metadata.py
  scripts/model_info.py
Owners: none

small changes to model info; add python pip requirements file
  .github/workflows/tests.yml
  scripts/overview.py
  scripts/requirements.txt
Owners: none

typo
  scripts/check_sbml_metadata.py
Owners: none

fix model ids, model names, and references
  Benchmark-Models/Alkan_SciSignal2018/model_Alkan_SciSignal2018.xml
  Benchmark-Models/Bachmann_MSB2011/model_Bachmann_MSB2011.xml
  Benchmark-Models/Beer_MolBioSystems2014/model_Beer_MolBioSystems2014.xml
  Benchmark-Models/Bertozzi_PNAS2020/model_Bertozzi_PNAS2020.xml
  Benchmark-Models/Borghans_BiophysChem1997/model_Borghans_BiophysChem1997.xml
  Benchmark-Models/Brannmark_JBC2010/model_Brannmark_JBC2010.xml
  Benchmark-Models/Chen_MSB2009/model_Chen_MSB2009.xml
  Benchmark-Models/Crauste_CellSystems2017/model_Crauste_CellSystems2017.xml
  Benchmark-Models/Elowitz_Nature2000/model_Elowitz_Nature2000.xml
  Benchmark-Models/Fiedler_BMC2016/model_Fiedler_BMC2016.xml
  Benchmark-Models/Fujita_SciSignal2010/model_Fujita_SciSignal2010.xml
  Benchmark-Models/Giordano_Nature2020/Giordano_Nature2020_model.xml
  Benchmark-Models/Isensee_JCB2018/model_Isensee_JCB2018.xml
  Benchmark-Models/Lucarelli_CellSystems2018/model_Lucarelli_CellSystems2018.xml
  Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020/Okuonghae_ChaosSolitonsFractals2020_model.xml
  Benchmark-Models/Oliveira_NatCommun2021/Oliveira_NatCommun2021_model.xml
  Benchmark-Models/Perelson_Science1996/model_Perelson_Science1996.xml
  Benchmark-Models/Rahman_MBS2016/model_Rahman_MBS2016.xml
  Benchmark-Models/Raimundez_PCB2020/model_Raimundez_PCB2020.xml
  Benchmark-Models/SalazarCavazos_MBoC2020/model_SalazarCavazos_MBoC2020.xml
  Benchmark-Models/Schwen_PONE2014/model_Schwen_PONE2014.xml
  Benchmark-Models/Sneyd_PNAS2002/model_Sneyd_PNAS2002.xml
  Benchmark-Models/Weber_BMC2015/model_Weber_BMC2015.xml
  Benchmark-Models/Zhao_QuantBiol2020/SBML_Zhao_QuantBiol2020.xml
  Benchmark-Models/Zheng_PNAS2012/model_Zheng_PNAS2012.xml
Owners: @LaraFuhrmann, @vanako, @dilpath, @elbaraim, @PaulJonasJost, @lorenapohl, @PhilippStaedter, @IvaEwert

typo
  Benchmark-Models/Oliveira_NatCommun2021/Oliveira_NatCommun2021_model.xml
Owners: @lorenapohl, @dilpath, @elbaraim

update overview table
  README.md
  scripts/_helpers.py
Owners: none

add template for new petab problems
  .github/PULL_REQUEST_TEMPLATE/new_petab_problem.md
Owners: none
