Repository Benchmarking-Initiative/Benchmark-Models-PEtab, changes with the owners that CODEOWNERS names for each.
All owners: @LaraFuhrmann, @vanako, @dilpath, @elbaraim, @PaulJonasJost, @C-Peiter, @lcontento, @lorenapohl, @PhilippStaedter, @IvaEwert

remove calibration files
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/opt/calibrate.py
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/opt/sbatch.sh
Owners: none

remove visualisation file
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/Fiedler_BMCSystBiol2016.yaml
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/visualizationSpecification_Fiedler_BMCSystBiol2016.tsv
Owners: none

replace the baseline model with age-of-infection model
  Benchmark-Models/Liu_IFACPapersOnLine2025/age_of_infection_model.xml
  Benchmark-Models/Liu_IFACPapersOnLine2025/age_of_infection_model.yaml
  Benchmark-Models/Liu_IFACPapersOnLine2025/baseline_model.xml
  Benchmark-Models/Liu_IFACPapersOnLine2025/observables.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/parameters.tsv
Owners: none

add individual based age of infection model in the subfolder
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/conditions.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/individual_based_age_of_infection_model.xml
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/individual_based_age_of_infection_model.yaml
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/measurements_scaled.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/observables.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/parameters.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/visualizations.tsv
Owners: none

change ID
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/Fiedler_BMCSystBiol2016.yaml
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/Fiedler_BMCSystBiol2016_rel.yaml
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/experimentalCondition_Fiedler_BMCSystBiol2016_rel.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/measurementData_Fiedler_BMCSystBiol2016_rel.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/model_Fiedler_BMCSystBiol2016_rel.xml
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/observables_Fiedler_BMCSystBiol2016_rel.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/parameters_Fiedler_BMCSystBiol2016_rel.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/visualizationSpecification_Fiedler_BMCSystBiol2016.tsv
Owners: none

update simulated data
  Benchmark-Models/Fiedler_BMCSystBiol2016/simulatedData_Fiedler_BMCSystBiol2016.tsv
Owners: none

fix ID in file names
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/Fiedler_BMCSystBiol2016_rel.yaml
Owners: none

rename files, add visualization spec
  Benchmark-Models/Liu_IFACPapersOnLine2025/Liu_IFAC-PapersOnLine2025.yaml
  Benchmark-Models/Liu_IFACPapersOnLine2025/measurements.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/measurements_scaled.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/model.xml
  Benchmark-Models/Liu_IFACPapersOnLine2025/visualization.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/visualizations.tsv
Owners: none

add annotation with identifier
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/model_Fiedler_BMCSystBiol2016_rel.xml
Owners: none

add the reformulated version of Fiedler_BMCSystBiol2016 (#258)
  Benchmark-Models/Fiedler_BMCSystBiol2016/measurementData_Fiedler_BMCSystBiol2016.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/Fiedler_BMCSystBiol2016_rel.yaml
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/experimentalCondition_Fiedler_BMCSystBiol2016_rel.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/measurementData_Fiedler_BMCSystBiol2016_rel.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/model_Fiedler_BMCSystBiol2016_rel.xml
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/observables_Fiedler_BMCSystBiol2016_rel.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/parameters_Fiedler_BMCSystBiol2016_rel.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/reformulated/simulatedData_Fiedler_BMCSystBiol2016.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/simulatedData_Fiedler_BMCSystBiol2016.tsv
  Benchmark-Models/Fiedler_BMCSystBiol2016/visualizationSpecification_Fiedler_BMCSystBiol2016.tsv
Owners: none

add estimated parameters
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/parameters.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/parameters.tsv
Owners: none

add simulated data
  Benchmark-Models/Liu_IFACPapersOnLine2025/simulatedData_Liu_IFAC-PapersOnLine2025.tsv
Owners: none

update PEtab ID
  Benchmark-Models/Liu_IFACPapersOnLine2025/Liu_IFACPapersOnLine2025.yaml
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/Liu_IFACPapersOnLine2025_individual.yaml
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/model_individual.xml
  Benchmark-Models/Liu_IFACPapersOnLine2025/simulatedData_Liu_IFACPapersOnLine2025.tsv
Owners: none

fix PEtab subproblem
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/measurements.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/measurements_scaled.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/parameters.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/simulatedData_Liu_IFACPapersOnLine2025_individual.tsv
Owners: none

add visualization matching manuscript Figures
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/visualization.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/visualizations.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/visualization.tsv
Owners: none

Update observable_Zhao_QuantBiol2020.tsv
  Benchmark-Models/Zhao_QuantBiol2020/observable_Zhao_QuantBiol2020.tsv
Owners: @IvaEwert, @dilpath, @elbaraim

Update observable_Zhao_QuantBiol2020.tsv
  Benchmark-Models/Zhao_QuantBiol2020/observable_Zhao_QuantBiol2020.tsv
Owners: @IvaEwert, @dilpath, @elbaraim

Zhao_QuantBiol2020: Fix observable definition (#261)
  Benchmark-Models/Zhao_QuantBiol2020/observable_Zhao_QuantBiol2020.tsv
Owners: @IvaEwert, @dilpath, @elbaraim

add new references
  src/benchmark_refs.bib
Owners: none

add new references (#262)
  src/benchmark_refs.bib
Owners: none

add published PEtab files
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/CBSD.xml
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/CBSD.yaml
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/CBSD_experimental_conditions.tsv
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/CBSD_measurement_data.tsv
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/CBSD_observables.tsv
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/CBSD_parameters.tsv
Owners: none

update nominalValue for estimated parameters
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/CBSD_parameters.tsv
Owners: none

add simulated data
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/simulatedData_Hoepfl_PLOSComputBiol2025.tsv
Owners: none

correct estimated J1_d value
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/CBSD_parameters.tsv
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/simulatedData_Hoepfl_PLOSComputBiol2025.tsv
Owners: none

Deploy to pages
  .github/workflows/gh-pages.yml
  .gitignore
  src/python/build_site.py
Owners: none

Deploy to pages (#265)
  .github/workflows/gh-pages.yml
  .gitignore
  src/python/build_site.py
Owners: none

pages: Add overview table
  .github/workflows/gh-pages.yml
  src/python/benchmark_models_petab/overview.py
  src/python/pyproject.toml
Owners: none

add link
  README.md
Owners: none

pages: Add overview table (#266)
  .github/workflows/gh-pages.yml
  README.md
  src/python/benchmark_models_petab/overview.py
  src/python/pyproject.toml
Owners: none

pages: replace URLs by icons
  src/python/benchmark_models_petab/overview.py
Owners: none

Update src/python/benchmark_models_petab/overview.py
  src/python/benchmark_models_petab/overview.py
Owners: none

pages: replace URLs by icons (#267)
  src/python/benchmark_models_petab/overview.py
Owners: none

add visSpec
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/CBSD.yaml
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/CBSD_measurement_data.tsv
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/visualizationSpecification.tsv
Owners: none

stash notes
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/notes.md
Owners: none

update simulated data with datasetId
  Benchmark-Models/Hoepfl_PLOSComputBiol2025/CBSD_PEtab/simulatedData_Hoepfl_PLOSComputBiol2025.tsv
Owners: none

Rename Okuonghae_ChaosSolitonsFractals2020_model.xml -> model_Okuonghae_ChaosSolitonsFractals2020.xml
  Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020/Okuonghae_ChaosSolitonsFractals2020.yaml
  Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020/Okuonghae_ChaosSolitonsFractals2020_model.xml
Owners: @PaulJonasJost, @dilpath, @elbaraim

Renaming Zhao.
  Benchmark-Models/Zhao_QuantBiol2020/SBML_Zhao_QuantBiol2020.xml
  Benchmark-Models/Zhao_QuantBiol2020/Zhao_QuantBiol2020.yaml
Owners: @IvaEwert, @dilpath, @elbaraim

Adding renamed XML files.
  Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020/model_Okuonghae_ChaosSolitonsFractals2020.xml
  Benchmark-Models/Zhao_QuantBiol2020/model_Zhao_QuantBiol2020.xml
Owners: @PaulJonasJost, @dilpath, @elbaraim, @IvaEwert

Renaming Giordano.
  Benchmark-Models/Giordano_Nature2020/Giordano_Nature2020.yaml
  Benchmark-Models/Giordano_Nature2020/model_Giordano_Nature2020.xml
Owners: @PaulJonasJost, @dilpath, @elbaraim

Rename xml files (#269)
  Benchmark-Models/Giordano_Nature2020/Giordano_Nature2020.yaml
  Benchmark-Models/Giordano_Nature2020/model_Giordano_Nature2020.xml
  Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020/Okuonghae_ChaosSolitonsFractals2020.yaml
  Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020/model_Okuonghae_ChaosSolitonsFractals2020.xml
  Benchmark-Models/Zhao_QuantBiol2020/Zhao_QuantBiol2020.yaml
  Benchmark-Models/Zhao_QuantBiol2020/model_Zhao_QuantBiol2020.xml
Owners: @PaulJonasJost, @dilpath, @elbaraim, @IvaEwert

CODEOWNERS:

/Benchmark-Models/Alkan_SciSignal2018	@LaraFuhrmann
/Benchmark-Models/Bachmann_MSB2011
/Benchmark-Models/Beer_MolBioSystems2014
/Benchmark-Models/Bertozzi_PNAS2020	@vanako	@dilpath	@elbaraim
/Benchmark-Models/Blasi_CellSystems2016
/Benchmark-Models/Boehm_JProteomeRes2014
/Benchmark-Models/Borghans_BiophysChem1997
/Benchmark-Models/Brannmark_JBC2010
/Benchmark-Models/Bruno_JExpBot2016
/Benchmark-Models/Chen_MSB2009	@elbaraim
/Benchmark-Models/Crauste_CellSystems2017
/Benchmark-Models/Elowitz_Nature2000
/Benchmark-Models/Fiedler_BMC2016
/Benchmark-Models/Fujita_SciSignal2010	@elbaraim	@dilpath
/Benchmark-Models/Giordano_Nature2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Isensee_JCB2018
/Benchmark-Models/Laske_PLOSComputBiol2019	@C-Peiter	@lcontento
/Benchmark-Models/Lucarelli_CellSystems2018
/Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Oliveira_NatCommun2021	@lorenapohl	@dilpath	@elbaraim
/Benchmark-Models/Perelson_Science1996	@PhilippStaedter
/Benchmark-Models/Rahman_MBS2016	@dilpath
/Benchmark-Models/Raimundez_PCB2020	@elbaraim
/Benchmark-Models/SalazarCavazos_MBoC2020	@dilpath
/Benchmark-Models/Schwen_PONE2014
/Benchmark-Models/Sneyd_PNAS2002
/Benchmark-Models/Weber_BMC2015
/Benchmark-Models/Zhao_QuantBiol2020	@IvaEwert	@dilpath	@elbaraim
/Benchmark-Models/Zheng_PNAS2012
