Repository Benchmarking-Initiative/Benchmark-Models-PEtab, changes with the owners that CODEOWNERS names for each.
All owners: @LaraFuhrmann, @vanako, @dilpath, @elbaraim, @PaulJonasJost, @C-Peiter, @lcontento, @lorenapohl, @PhilippStaedter, @IvaEwert

fix intention
  .github/workflows/python.yml
Owners: none

fix sth
  .github/workflows/python.yml
Owners: none

fixup
  INSTALL.md
Owners: none

Update INSTALL.md
  INSTALL.md
Owners: none

Add python package (#167)
  .github/workflows/python.yml
  .gitignore
  .pre-commit-config.yaml
  INSTALL.md
  README.md
  src/python/LICENSE
  src/python/MANIFEST.in
  src/python/README.md
  src/python/benchmark_models_petab/Benchmark-Models
  src/python/benchmark_models_petab/C.py
  src/python/benchmark_models_petab/__init__.py
  src/python/benchmark_models_petab/base.py
  src/python/benchmark_models_petab/version.py
  src/python/build.sh
  src/python/pyproject.toml
  src/python/setup.cfg
  src/python/setup.py
  src/python/test/test_base.py
Owners: none

update readme
  README.md
Owners: none

add noise distributions info
  README.md
  scripts/overview.py
Owners: none

count conditions for preequilibration and post-equilibration
  README.md
  scripts/overview.py
Owners: none

Update scripts/overview.py
  scripts/overview.py
Owners: none

fix
  scripts/overview.py
Owners: none

Updated reference Laske
  README.md
Owners: none

fixed wrong reference to research article from Laske model
  Benchmark-Models/Laske_PLOSComputBiol2019/model_Laske_PLOSComputBiol2019.xml
  README.md
Owners: @C-Peiter, @lcontento

fix noise distributions in the models overview
  README.md
  scripts/overview.py
Owners: none

use pd.fillna
  scripts/overview.py
Owners: none

fix noise distributions in the models overview (#174)
  README.md
  scripts/overview.py
Owners: none

fix colum name in simulation_df
  Benchmark-Models/Isensee_JCB2018/simulatedData_Isensee_JCB2018.tsv
  Benchmark-Models/Perelson_Science1996/simulatedData_Perelson_Science1996.tsv
  Benchmark-Models/Weber_BMC2015/simulatedData_Weber_BMC2015.tsv
Owners: @PhilippStaedter

fix file extension for Giordano simulation file
  Benchmark-Models/Giordano_Nature2020/simulatedData_Giordano_Nature2020.tsv
Owners: @PaulJonasJost, @dilpath, @elbaraim

remove trailing whitespace in Brannmark_JBC2010 simulatedData
  Benchmark-Models/Brannmark_JBC2010/simulatedData_Brannmark_JBC2010.tsv
Owners: none

add visualization files Brannmark, Borghans, Crauste, Elowitz, Perelson, Weber, Zheng
  Benchmark-Models/Borghans_BiophysChem1997/Borghans_BiophysChem1997.yaml
  Benchmark-Models/Borghans_BiophysChem1997/visualizationSpecification_Borghans_BiophysChem1997.tsv
  Benchmark-Models/Brannmark_JBC2010/Brannmark_JBC2010.yaml
  Benchmark-Models/Brannmark_JBC2010/visualizationSpecification_Brannmark_JBC2010.tsv
  Benchmark-Models/Crauste_CellSystems2017/Crauste_CellSystems2017.yaml
  Benchmark-Models/Crauste_CellSystems2017/visualizationSpecification_Crauste_CellSystems2017.tsv
  Benchmark-Models/Elowitz_Nature2000/Elowitz_Nature2000.yaml
  Benchmark-Models/Elowitz_Nature2000/visualizationSpecification_Elowitz_Nature2000.tsv
  Benchmark-Models/Perelson_Science1996/Perelson_Science1996.yaml
  Benchmark-Models/Perelson_Science1996/visualizationSpecification_Perelson_Science1996.tsv
  Benchmark-Models/Weber_BMC2015/Weber_BMC2015.yaml
  Benchmark-Models/Weber_BMC2015/visualizationSpecification_Weber_BMC2015.tsv
  Benchmark-Models/Zheng_PNAS2012/Zheng_PNAS2012.yaml
  Benchmark-Models/Zheng_PNAS2012/visualizationSpecification_Zheng_PNAS2012.tsv
Owners: @PhilippStaedter

add visualization files Brannmark, Borghans, Crauste, Elowitz, Perelson, Weber, Zheng (#179)
  Benchmark-Models/Borghans_BiophysChem1997/Borghans_BiophysChem1997.yaml
  Benchmark-Models/Borghans_BiophysChem1997/visualizationSpecification_Borghans_BiophysChem1997.tsv
  Benchmark-Models/Brannmark_JBC2010/Brannmark_JBC2010.yaml
  Benchmark-Models/Brannmark_JBC2010/visualizationSpecification_Brannmark_JBC2010.tsv
  Benchmark-Models/Crauste_CellSystems2017/Crauste_CellSystems2017.yaml
  Benchmark-Models/Crauste_CellSystems2017/visualizationSpecification_Crauste_CellSystems2017.tsv
  Benchmark-Models/Elowitz_Nature2000/Elowitz_Nature2000.yaml
  Benchmark-Models/Elowitz_Nature2000/visualizationSpecification_Elowitz_Nature2000.tsv
  Benchmark-Models/Perelson_Science1996/Perelson_Science1996.yaml
  Benchmark-Models/Perelson_Science1996/visualizationSpecification_Perelson_Science1996.tsv
  Benchmark-Models/Weber_BMC2015/Weber_BMC2015.yaml
  Benchmark-Models/Weber_BMC2015/visualizationSpecification_Weber_BMC2015.tsv
  Benchmark-Models/Zheng_PNAS2012/Zheng_PNAS2012.yaml
  Benchmark-Models/Zheng_PNAS2012/visualizationSpecification_Zheng_PNAS2012.tsv
Owners: @PhilippStaedter

add draft implementation
  Benchmark-Models/Smith_BMCSystBiol2013/Smith_BMCSystBiol2013.yaml
  Benchmark-Models/Smith_BMCSystBiol2013/experimentalCondition_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/measurementData_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/model_Smith_BMCSystBiol2013.xml
  Benchmark-Models/Smith_BMCSystBiol2013/observables_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/parameters_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/source/BIOMD0000000474_url.xml
  Benchmark-Models/Smith_BMCSystBiol2013/source/archuleta_09_fig1.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/cedersund_irs_p_fig1c.dat.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/essers_emboj_04_fig4b.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/m8b2_rapi.6-insscan-nox0.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/m8b2_rapi.6-insscan.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/m8b2_rapi_sensitized-insscan.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/m8b2_rapie.6-t60.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/m8b2_rapijf.6.InsROS_out.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/mahadev_01b_fig2.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/pj.6-t60-scanextROS-2SOD.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/stagsted_93_fig1_boundi.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/stagsted_93_fig1_glut.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/stagsted_93_fig3.txt
Owners: none

fix time & model id
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/measurementData_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/model_Smith_BMCSystBiol2013.xml
Owners: none

fix concentration vs amount
  Benchmark-Models/Smith_BMCSystBiol2013/experimentalCondition_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
Owners: none

fix Ins concentration
  Benchmark-Models/Smith_BMCSystBiol2013/experimentalCondition_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
Owners: none

fix conc/amount
  Benchmark-Models/Smith_BMCSystBiol2013/experimentalCondition_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
Owners: none

fix scaling factors nominal value
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/parameters_Smith_BMCSystBiol2013.tsv
Owners: none

add insulin injection event, add simulation test
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/Smith_BMCSystBiol2013_test.yaml
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/experimentalCondition_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/measurementData_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/model_Smith_BMCSystBiol2013.xml
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/observables_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/parameters_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/source/BIOMD0000000474_url.xml
  Benchmark-Models/Smith_BMCSystBiol2013/source/MODEL1212210000_Ins_events.xml
Owners: none

Update MODEL1212210000_Ins_events.xml
  Benchmark-Models/Smith_BMCSystBiol2013/source/MODEL1212210000_Ins_events.xml
Owners: none

Update MODEL1212210000_Ins_events.xml
  Benchmark-Models/Smith_BMCSystBiol2013/source/MODEL1212210000_Ins_events.xml
Owners: none

fixup event
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/model_Smith_BMCSystBiol2013.xml
  Benchmark-Models/Smith_BMCSystBiol2013/source/BIOMD0000000474_url.xml
  Benchmark-Models/Smith_BMCSystBiol2013/source/MODEL1212210000_Ins_events.xml
  Benchmark-Models/Smith_BMCSystBiol2013/source/m8b2_after2mored.xml
  Benchmark-Models/Smith_BMCSystBiol2013/source/m8b2_rapijf.6.xml
Owners: none

don't use infinite parameter values
  Benchmark-Models/Smith_BMCSystBiol2013/experimentalCondition_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/experimentalCondition_Smith_BMCSystBiol2013_test.tsv
Owners: none

fix test problem
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/experimentalCondition_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/observables_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/parameters_Smith_BMCSystBiol2013.tsv
Owners: none

fix compartment observables
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/observables_Smith_BMCSystBiol2013_test.tsv
Owners: none

add indicator functions for different model compositions
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/model_Smith_BMCSystBiol2013.xml
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/experimentalCondition_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/model_Smith_BMCSystBiol2013.xml
Owners: none

Update experimentalCondition_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/experimentalCondition_Smith_BMCSystBiol2013.tsv
Owners: none

conditionalize k4, kminus4, k_irs1_basal_syn, fix test conditions
  Benchmark-Models/Smith_BMCSystBiol2013/experimentalCondition_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/parameters_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/experimentalCondition_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/observables_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/parameters_Smith_BMCSystBiol2013.tsv
Owners: none

workaround E2F1
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/experimentalCondition_Smith_BMCSystBiol2013_test.tsv
Owners: none

revert to original model to avoid amount/conc snafu
  Benchmark-Models/Smith_BMCSystBiol2013/experimentalCondition_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/model_Smith_BMCSystBiol2013.xml
  Benchmark-Models/Smith_BMCSystBiol2013/parameters_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/experimentalCondition_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/model_Smith_BMCSystBiol2013.xml
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/observables_Smith_BMCSystBiol2013_test.tsv
Owners: none

???
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/model_Smith_BMCSystBiol2013.xml
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/model_Smith_BMCSystBiol2013.xml
Owners: none

remove null obs
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/observables_Smith_BMCSystBiol2013_test.tsv
Owners: none

CODEOWNERS:

/Benchmark-Models/Alkan_SciSignal2018	@LaraFuhrmann
/Benchmark-Models/Bachmann_MSB2011
/Benchmark-Models/Beer_MolBioSystems2014
/Benchmark-Models/Bertozzi_PNAS2020	@vanako	@dilpath	@elbaraim
/Benchmark-Models/Blasi_CellSystems2016
/Benchmark-Models/Boehm_JProteomeRes2014
/Benchmark-Models/Borghans_BiophysChem1997
/Benchmark-Models/Brannmark_JBC2010
/Benchmark-Models/Bruno_JExpBot2016
/Benchmark-Models/Chen_MSB2009	@elbaraim
/Benchmark-Models/Crauste_CellSystems2017
/Benchmark-Models/Elowitz_Nature2000
/Benchmark-Models/Fiedler_BMC2016
/Benchmark-Models/Fujita_SciSignal2010	@elbaraim	@dilpath
/Benchmark-Models/Giordano_Nature2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Isensee_JCB2018
/Benchmark-Models/Laske_PLOSComputBiol2019	@C-Peiter	@lcontento
/Benchmark-Models/Lucarelli_CellSystems2018
/Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Oliveira_NatCommun2021	@lorenapohl	@dilpath	@elbaraim
/Benchmark-Models/Perelson_Science1996	@PhilippStaedter
/Benchmark-Models/Rahman_MBS2016	@dilpath
/Benchmark-Models/Raimundez_PCB2020	@elbaraim
/Benchmark-Models/SalazarCavazos_MBoC2020	@dilpath
/Benchmark-Models/Schwen_PONE2014
/Benchmark-Models/Sneyd_PNAS2002
/Benchmark-Models/Weber_BMC2015
/Benchmark-Models/Zhao_QuantBiol2020	@IvaEwert	@dilpath	@elbaraim
/Benchmark-Models/Zheng_PNAS2012
