Repository Benchmarking-Initiative/Benchmark-Models-PEtab, changes with the owners that CODEOWNERS names for each.
All owners: @LaraFuhrmann, @vanako, @dilpath, @elbaraim, @PaulJonasJost, @C-Peiter, @lcontento, @lorenapohl, @PhilippStaedter, @IvaEwert

CODEOWNERS:

/Benchmark-Models/Alkan_SciSignal2018	@LaraFuhrmann
/Benchmark-Models/Bachmann_MSB2011
/Benchmark-Models/Beer_MolBioSystems2014
/Benchmark-Models/Bertozzi_PNAS2020	@vanako	@dilpath	@elbaraim
/Benchmark-Models/Blasi_CellSystems2016
/Benchmark-Models/Boehm_JProteomeRes2014
/Benchmark-Models/Borghans_BiophysChem1997
/Benchmark-Models/Brannmark_JBC2010
/Benchmark-Models/Bruno_JExpBot2016
/Benchmark-Models/Chen_MSB2009	@elbaraim
/Benchmark-Models/Crauste_CellSystems2017
/Benchmark-Models/Elowitz_Nature2000
/Benchmark-Models/Fiedler_BMC2016
/Benchmark-Models/Fujita_SciSignal2010	@elbaraim	@dilpath
/Benchmark-Models/Giordano_Nature2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Isensee_JCB2018
/Benchmark-Models/Laske_PLOSComputBiol2019	@C-Peiter	@lcontento
/Benchmark-Models/Lucarelli_CellSystems2018
/Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Oliveira_NatCommun2021	@lorenapohl	@dilpath	@elbaraim
/Benchmark-Models/Perelson_Science1996	@PhilippStaedter
/Benchmark-Models/Rahman_MBS2016	@dilpath
/Benchmark-Models/Raimundez_PCB2020	@elbaraim
/Benchmark-Models/SalazarCavazos_MBoC2020	@dilpath
/Benchmark-Models/Schwen_PONE2014
/Benchmark-Models/Sneyd_PNAS2002
/Benchmark-Models/Weber_BMC2015
/Benchmark-Models/Zhao_QuantBiol2020	@IvaEwert	@dilpath	@elbaraim
/Benchmark-Models/Zheng_PNAS2012

remove maintainer work
  .github/PULL_REQUEST_TEMPLATE/new_petab_problem.md
Owners: none

more points
  .github/PULL_REQUEST_TEMPLATE/new_petab_problem.md
Owners: none

remove unused imports and variables
  scripts/check_petablint.py
  scripts/check_sbml_metadata.py
  scripts/requirements.txt
Owners: none

use requirements file in ci
  .github/workflows/tests.yml
Owners: none

fix requirements
  scripts/requirements.txt
Owners: none

rename rdf:about
  Benchmark-Models/Fujita_SciSignal2010/model_Fujita_SciSignal2010.xml
  Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020/Okuonghae_ChaosSolitonsFractals2020_model.xml
  Benchmark-Models/Oliveira_NatCommun2021/Oliveira_NatCommun2021_model.xml
  Benchmark-Models/Rahman_MBS2016/model_Rahman_MBS2016.xml
  Benchmark-Models/Raimundez_PCB2020/model_Raimundez_PCB2020.xml
Owners: @elbaraim, @dilpath, @PaulJonasJost, @lorenapohl

rename rdf:about
  Benchmark-Models/SalazarCavazos_MBoC2020/model_SalazarCavazos_MBoC2020.xml
Owners: @dilpath

restore metaid
  Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020/Okuonghae_ChaosSolitonsFractals2020_model.xml
  Benchmark-Models/Oliveira_NatCommun2021/Oliveira_NatCommun2021_model.xml
Owners: @PaulJonasJost, @dilpath, @elbaraim, @lorenapohl

Fix model IDs, names, and missing references (#153)
  Benchmark-Models/Alkan_SciSignal2018/model_Alkan_SciSignal2018.xml
  Benchmark-Models/Bachmann_MSB2011/model_Bachmann_MSB2011.xml
  Benchmark-Models/Beer_MolBioSystems2014/model_Beer_MolBioSystems2014.xml
  Benchmark-Models/Bertozzi_PNAS2020/model_Bertozzi_PNAS2020.xml
  Benchmark-Models/Borghans_BiophysChem1997/model_Borghans_BiophysChem1997.xml
  Benchmark-Models/Brannmark_JBC2010/model_Brannmark_JBC2010.xml
  Benchmark-Models/Chen_MSB2009/model_Chen_MSB2009.xml
  Benchmark-Models/Crauste_CellSystems2017/model_Crauste_CellSystems2017.xml
  Benchmark-Models/Elowitz_Nature2000/model_Elowitz_Nature2000.xml
  Benchmark-Models/Fiedler_BMC2016/model_Fiedler_BMC2016.xml
  Benchmark-Models/Fujita_SciSignal2010/model_Fujita_SciSignal2010.xml
  Benchmark-Models/Giordano_Nature2020/Giordano_Nature2020_model.xml
  Benchmark-Models/Isensee_JCB2018/model_Isensee_JCB2018.xml
  Benchmark-Models/Lucarelli_CellSystems2018/model_Lucarelli_CellSystems2018.xml
  Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020/Okuonghae_ChaosSolitonsFractals2020_model.xml
  Benchmark-Models/Oliveira_NatCommun2021/Oliveira_NatCommun2021_model.xml
  Benchmark-Models/Perelson_Science1996/model_Perelson_Science1996.xml
  Benchmark-Models/Rahman_MBS2016/model_Rahman_MBS2016.xml
  Benchmark-Models/Raimundez_PCB2020/model_Raimundez_PCB2020.xml
  Benchmark-Models/SalazarCavazos_MBoC2020/model_SalazarCavazos_MBoC2020.xml
  Benchmark-Models/Schwen_PONE2014/model_Schwen_PONE2014.xml
  Benchmark-Models/Sneyd_PNAS2002/model_Sneyd_PNAS2002.xml
  Benchmark-Models/Weber_BMC2015/model_Weber_BMC2015.xml
  Benchmark-Models/Zhao_QuantBiol2020/SBML_Zhao_QuantBiol2020.xml
  Benchmark-Models/Zheng_PNAS2012/model_Zheng_PNAS2012.xml
  README.md
  scripts/_helpers.py
Owners: @LaraFuhrmann, @vanako, @dilpath, @elbaraim, @PaulJonasJost, @lorenapohl, @PhilippStaedter, @IvaEwert

Check SBML metadata, refactor and move scripts (#152)
  .github/workflows/tests.yml
  .gitignore
  Benchmark-Models/Alkan_SciSignal2018/model_Alkan_SciSignal2018.xml
  Benchmark-Models/Bachmann_MSB2011/model_Bachmann_MSB2011.xml
  Benchmark-Models/Beer_MolBioSystems2014/model_Beer_MolBioSystems2014.xml
  Benchmark-Models/Bertozzi_PNAS2020/model_Bertozzi_PNAS2020.xml
  Benchmark-Models/Borghans_BiophysChem1997/model_Borghans_BiophysChem1997.xml
  Benchmark-Models/Brannmark_JBC2010/model_Brannmark_JBC2010.xml
  Benchmark-Models/Chen_MSB2009/model_Chen_MSB2009.xml
  Benchmark-Models/Crauste_CellSystems2017/model_Crauste_CellSystems2017.xml
  Benchmark-Models/Elowitz_Nature2000/model_Elowitz_Nature2000.xml
  Benchmark-Models/Fiedler_BMC2016/model_Fiedler_BMC2016.xml
  Benchmark-Models/Fujita_SciSignal2010/model_Fujita_SciSignal2010.xml
  Benchmark-Models/Giordano_Nature2020/Giordano_Nature2020_model.xml
  Benchmark-Models/Isensee_JCB2018/model_Isensee_JCB2018.xml
  Benchmark-Models/Lucarelli_CellSystems2018/model_Lucarelli_CellSystems2018.xml
  Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020/Okuonghae_ChaosSolitonsFractals2020_model.xml
  Benchmark-Models/Oliveira_NatCommun2021/Oliveira_NatCommun2021_model.xml
  Benchmark-Models/Perelson_Science1996/model_Perelson_Science1996.xml
  Benchmark-Models/Rahman_MBS2016/model_Rahman_MBS2016.xml
  Benchmark-Models/Raimundez_PCB2020/model_Raimundez_PCB2020.xml
  Benchmark-Models/SalazarCavazos_MBoC2020/model_SalazarCavazos_MBoC2020.xml
  Benchmark-Models/Schwen_PONE2014/model_Schwen_PONE2014.xml
  Benchmark-Models/Sneyd_PNAS2002/model_Sneyd_PNAS2002.xml
  Benchmark-Models/Weber_BMC2015/model_Weber_BMC2015.xml
  Benchmark-Models/Zhao_QuantBiol2020/SBML_Zhao_QuantBiol2020.xml
  Benchmark-Models/Zheng_PNAS2012/model_Zheng_PNAS2012.xml
  Benchmark-Models/checkBenchmarkModels.py
  README.md
  scripts/_helpers.py
  scripts/check_petablint.py
  scripts/check_sbml_metadata.py
  scripts/overview.py
  scripts/requirements.txt
Owners: @LaraFuhrmann, @vanako, @dilpath, @elbaraim, @PaulJonasJost, @lorenapohl, @PhilippStaedter, @IvaEwert

PR template for new PEtab problems (#154)
  .github/PULL_REQUEST_TEMPLATE/new_petab_problem.md
Owners: none

Okuonghae_ChaosSolitonsFractals2020: convert fixed initial assignments to parameter values (#151)
  Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020/Okuonghae_ChaosSolitonsFractals2020_model.xml
Owners: @PaulJonasJost, @dilpath, @elbaraim

add draft Blasi model selection problem
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/01_create_output_dirs.sh
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/02_create_sbml.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/03_create_petab.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/04_create_select.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/README.md
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/input/petab_problem.yaml
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/input/petab_select_problem.yaml
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/model_info.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/output/model/model.xml
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/output/petab/conditions.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/output/petab/measurements.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/output/petab/observables.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/output/petab/parameters.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/output/petab/petab_problem.yaml
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/output/select/model_space.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/construct/output/select/petab_select_problem.yaml
Owners: none

remove subfolder
  Benchmark-Models/Blasi_CellSystems2016/petab_select/01_create_output_dirs.sh
  Benchmark-Models/Blasi_CellSystems2016/petab_select/02_create_sbml.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/03_create_petab.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/04_create_select.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/README.md
  Benchmark-Models/Blasi_CellSystems2016/petab_select/input/petab_problem.yaml
  Benchmark-Models/Blasi_CellSystems2016/petab_select/input/petab_select_problem.yaml
  Benchmark-Models/Blasi_CellSystems2016/petab_select/model_info.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/model/model.xml
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/conditions.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/measurements.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/observables.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/parameters.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/petab_problem.yaml
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/select/model_space.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/select/petab_select_problem.yaml
Owners: none

sort observables to ensure same observables table is always created
  Benchmark-Models/Blasi_CellSystems2016/petab_select/03_create_petab.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/observables.tsv
Owners: none

Add Blasi model selection problem for motif-specific parameters (#157)
  Benchmark-Models/Blasi_CellSystems2016/petab_select/01_create_output_dirs.sh
  Benchmark-Models/Blasi_CellSystems2016/petab_select/02_create_sbml.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/03_create_petab.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/04_create_select.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/README.md
  Benchmark-Models/Blasi_CellSystems2016/petab_select/input/petab_problem.yaml
  Benchmark-Models/Blasi_CellSystems2016/petab_select/input/petab_select_problem.yaml
  Benchmark-Models/Blasi_CellSystems2016/petab_select/model_info.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/model/model.xml
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/conditions.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/measurements.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/observables.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/parameters.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/petab_problem.yaml
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/select/model_space.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/select/petab_select_problem.yaml
Owners: none

fix blasi select measurements
  Benchmark-Models/Blasi_CellSystems2016/petab_select/03_create_petab.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/measurements.tsv
Owners: none

Fix blasi select measurements (#158)
  Benchmark-Models/Blasi_CellSystems2016/petab_select/03_create_petab.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/measurements.tsv
Owners: none

Fixed parameters and added vis + simulation file
  Benchmark-Models/Froehlich_CellSystems2018/Froehlich_CellSystems2018.yaml
  Benchmark-Models/Froehlich_CellSystems2018/measurementData_Froehlich_CellSystems2018.tsv
  Benchmark-Models/Froehlich_CellSystems2018/parameters_Froehlich_CellSystems2018.tsv
  Benchmark-Models/Froehlich_CellSystems2018/simulatedData_Froehlich_CellSystems2018.tsv
  Benchmark-Models/Froehlich_CellSystems2018/visualizationSpecification_Froehlich_CellSystems2018.tsv
Owners: none

Added Froehlich Cell Systems 2018 model
  Benchmark-Models/Froehlich_CellSystems2018/Froehlich_CellSystems2018.yaml
  Benchmark-Models/Froehlich_CellSystems2018/measurementData_Froehlich_CellSystems2018.tsv
  Benchmark-Models/Froehlich_CellSystems2018/observables_Froehlich_CellSystems2018.tsv
  Benchmark-Models/Froehlich_CellSystems2018/parameters_Froehlich_CellSystems2018.tsv
  Benchmark-Models/Froehlich_CellSystems2018/simulatedData_Froehlich_CellSystems2018.tsv
  Benchmark-Models/Froehlich_CellSystems2018/visualizationSpecification_Froehlich_CellSystems2018.tsv
Owners: none

fix fujita vis spec
  Benchmark-Models/Fujita_SciSignal2010/visualizationSpecification_Fujita_SciSignal2010.tsv
Owners: @elbaraim, @dilpath

`Fujita_SciSignal2018`: fix vis spec (#162)
  Benchmark-Models/Fujita_SciSignal2010/visualizationSpecification_Fujita_SciSignal2010.tsv
Owners: @elbaraim, @dilpath

Update Benchmark-Models/model_info.py
  Benchmark-Models/model_info.py
Owners: none

Update Benchmark-Models/model_info.py
  Benchmark-Models/model_info.py
Owners: none

Add published optimum to Blasi
  Benchmark-Models/Blasi_CellSystems2016/petab_select/03_create_petab.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/README.md
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/observables.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/parameters.tsv
Owners: none

Add published optimum to Blasi PEtab Select problem (#163)
  Benchmark-Models/Blasi_CellSystems2016/petab_select/03_create_petab.py
  Benchmark-Models/Blasi_CellSystems2016/petab_select/README.md
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/observables.tsv
  Benchmark-Models/Blasi_CellSystems2016/petab_select/output/petab/parameters.tsv
Owners: none

Adding CITATION.cff file.
  CITATION.cff
Owners: none

add to README
  README.md
Owners: none

Added Froehlich Cell Systems 2018 model. Closes #78 (#161)
  Benchmark-Models/Froehlich_CellSystems2018/Froehlich_CellSystems2018.yaml
  Benchmark-Models/Froehlich_CellSystems2018/measurementData_Froehlich_CellSystems2018.tsv
  Benchmark-Models/Froehlich_CellSystems2018/observables_Froehlich_CellSystems2018.tsv
  Benchmark-Models/Froehlich_CellSystems2018/parameters_Froehlich_CellSystems2018.tsv
  Benchmark-Models/Froehlich_CellSystems2018/simulatedData_Froehlich_CellSystems2018.tsv
  Benchmark-Models/Froehlich_CellSystems2018/visualizationSpecification_Froehlich_CellSystems2018.tsv
  README.md
Owners: none

add python package
  .github/workflows/deploy.yml
  .gitignore
  src/python/LICENSE
  src/python/MANIFEST.in
  src/python/README.md
  src/python/benchmark_models_petab/Benchmark-Models
  src/python/benchmark_models_petab/C.py
  src/python/benchmark_models_petab/__init__.py
  src/python/build.sh
  src/python/setup.py
Owners: none

add unit test
  .github/workflows/python.yml
  src/python/test/test_base.py
Owners: none

fix typo
  .github/workflows/python.yml
Owners: none

fix dir
  .github/workflows/python.yml
Owners: none

restrict to push
  .github/workflows/python.yml
Owners: none

address comments from code review
  .github/workflows/python.yml
  .gitignore
  src/python/.pre-commit-config.yaml
  src/python/benchmark_models_petab/__init__.py
  src/python/benchmark_models_petab/base.py
  src/python/benchmark_models_petab/version.py
  src/python/build.sh
  src/python/pyproject.toml
  src/python/setup.cfg
  src/python/setup.py
  src/python/test/test_base.py
Owners: none

fixi
  src/python/.pre-commit-config.yaml
  src/python/benchmark_models_petab/C.py
  src/python/benchmark_models_petab/__init__.py
  src/python/benchmark_models_petab/base.py
  src/python/benchmark_models_petab/version.py
  src/python/pyproject.toml
  src/python/setup.cfg
  src/python/setup.py
  src/python/test/test_base.py
Owners: none

add test
  .github/workflows/python.yml
  .pre-commit-config.yaml
Owners: none

remove deploy; use full paths
  .github/workflows/deploy.yml
  src/python/build.sh
Owners: none

add install.md
  INSTALL.md
  README.md
Owners: none

why does ci fail
  .github/workflows/python.yml
Owners: none
