Repository Benchmarking-Initiative/Benchmark-Models-PEtab, changes with the owners that CODEOWNERS names for each.
All owners: @LaraFuhrmann, @vanako, @dilpath, @elbaraim, @PaulJonasJost, @C-Peiter, @lcontento, @lorenapohl, @PhilippStaedter, @IvaEwert

Convert to PEtab v2
  v1_v2.py
Owners: none

..
  v1_v2.py
Owners: none

Add `get_simulation_df`
  src/python/benchmark_models_petab/__init__.py
  src/python/benchmark_models_petab/base.py
  src/python/test/test_base.py
Owners: none

Add `get_simulation_df` (#274)
  src/python/benchmark_models_petab/__init__.py
  src/python/benchmark_models_petab/base.py
  src/python/test/test_base.py
Owners: none

..
  v2/Brannmark_JBC2010/measurementData_Brannmark_JBC2010.tsv
  v2/Isensee_JCB2018/measurementData_Isensee_JCB2018.tsv
Owners: none

Convert to PEtab v2
  v1_v2.py
Owners: none

..
  v1_v2.py
Owners: none

Fix simulation files
  Benchmark-Models/Armistead_CellDeathDis2024/simulatedData_Armistead_CellDeathDis2024.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/simulatedData_Smith_BMCSystBiol2013.tsv
  src/python/benchmark_models_petab/base.py
Owners: none

Fix simulation files (#276)
  Benchmark-Models/Armistead_CellDeathDis2024/simulatedData_Armistead_CellDeathDis2024.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/simulatedData_Smith_BMCSystBiol2013.tsv
  src/python/benchmark_models_petab/base.py
Owners: none

Fix observableIDs in Lucarelli_CellSystems2018 simulation table
  Benchmark-Models/Lucarelli_CellSystems2018/simulatedData_Lucarelli_CellSystems2018.tsv
Owners: none

Remove extraneous simulation row
  Benchmark-Models/Lucarelli_CellSystems2018/simulatedData_Lucarelli_CellSystems2018.tsv
Owners: none

Add CODEOWNERS
  .github/CODEOWNERS
Owners: none

Add CODEOWNERS (#282)
  .github/CODEOWNERS
Owners: none

Fix `Lucarelli_CellSystems2018` simulation table (#281)
  Benchmark-Models/Lucarelli_CellSystems2018/simulatedData_Lucarelli_CellSystems2018.tsv
Owners: none

Check simulation tables
  src/python/test/test_base.py
Owners: none

fix condition ids in simulation table add datasetId column and visualization specification
  Benchmark-Models/Beer_MolBioSystems2014/Beer_MolBioSystems2014.yaml
  Benchmark-Models/Beer_MolBioSystems2014/measurementData_Beer_MolBioSystems2014.tsv
  Benchmark-Models/Beer_MolBioSystems2014/simulatedData_Beer_MolBioSystems2014.tsv
  Benchmark-Models/Beer_MolBioSystems2014/visualizationSpecification_Beer_MolBioSystems2014.tsv
Owners: none

merge two plots
  Benchmark-Models/Bertozzi_PNAS2020/visualizations.tsv
Owners: @vanako, @dilpath, @elbaraim

elowitz, update axes labels
  Benchmark-Models/Elowitz_Nature2000/visualizationSpecification_Elowitz_Nature2000.tsv
Owners: none

change scale, Laske model
  Benchmark-Models/Laske_PLOSComputBiol2019/visualizationSpecification_Laske_PLOSComputBiol2019.tsv
Owners: @C-Peiter, @lcontento

sneyd model, add datasetId column and visualization specification
  Benchmark-Models/Sneyd_PNAS2002/Sneyd_PNAS2002.yaml
  Benchmark-Models/Sneyd_PNAS2002/measurementData_Sneyd_PNAS2002.tsv
  Benchmark-Models/Sneyd_PNAS2002/simulatedData_Sneyd_PNAS2002.tsv
  Benchmark-Models/Sneyd_PNAS2002/visualizationSpecification_Sneyd_PNAS2002.tsv
Owners: none

fix zheng reference
  Benchmark-Models/Zheng_PNAS2012/model_Zheng_PNAS2012.xml
Owners: none

brannmark, add datasetId and fix visualization spec
  Benchmark-Models/Brannmark_JBC2010/measurementData_Brannmark_JBC2010.tsv
  Benchmark-Models/Brannmark_JBC2010/simulatedData_Brannmark_JBC2010.tsv
  Benchmark-Models/Brannmark_JBC2010/visualizationSpecification_Brannmark_JBC2010.tsv
Owners: none

fix simulation mixup
  Benchmark-Models/Sneyd_PNAS2002/simulatedData_Sneyd_PNAS2002.tsv
Owners: none

visualization specification
  Benchmark-Models/Sneyd_PNAS2002/visualizationSpecification_Sneyd_PNAS2002.tsv
  Benchmark-Models/Sneyd_PNAS2002/visualizationSpecification_Sneyd_PNAS2002_subplots.tsv
Owners: none

Lucarelli visualization
  Benchmark-Models/Lucarelli_CellSystems2018/Lucarelli_CellSystems2018.yaml
  Benchmark-Models/Lucarelli_CellSystems2018/measurementData_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/simulatedData_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018.tsv
Owners: none

fix yaml
  Benchmark-Models/Lucarelli_CellSystems2018/Lucarelli_CellSystems2018.yaml
Owners: none

fig1, D, right plots
  Benchmark-Models/Lucarelli_CellSystems2018/measurementData_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/simulatedData_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018.tsv
Owners: none

Sneyd model updates (#285)
  Benchmark-Models/Sneyd_PNAS2002/Sneyd_PNAS2002.yaml
  Benchmark-Models/Sneyd_PNAS2002/measurementData_Sneyd_PNAS2002.tsv
  Benchmark-Models/Sneyd_PNAS2002/simulatedData_Sneyd_PNAS2002.tsv
  Benchmark-Models/Sneyd_PNAS2002/visualizationSpecification_Sneyd_PNAS2002.tsv
  Benchmark-Models/Sneyd_PNAS2002/visualizationSpecification_Sneyd_PNAS2002_subplots.tsv
Owners: none

Check simulation tables
  src/python/test/test_base.py
Owners: none

add multiple visualization files
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure1.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure2.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure3_1.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure3_2.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure3_3.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure3_4.tsv
Owners: none

finish visualization specification
  Benchmark-Models/Lucarelli_CellSystems2018/measurementData_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/simulatedData_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018.tsv
Owners: none

Beer model visualization fixes
  Benchmark-Models/Beer_MolBioSystems2014/Beer_MolBioSystems2014.yaml
  Benchmark-Models/Beer_MolBioSystems2014/measurementData_Beer_MolBioSystems2014.tsv
  Benchmark-Models/Beer_MolBioSystems2014/simulatedData_Beer_MolBioSystems2014.tsv
  Benchmark-Models/Beer_MolBioSystems2014/visualizationSpecification_Beer_MolBioSystems2014.tsv
Owners: none

fix Borghans axes labels
  Benchmark-Models/Borghans_BiophysChem1997/visualizationSpecification_Borghans_BiophysChem1997.tsv
Owners: none

fix Bruno axes labels
  Benchmark-Models/Bruno_JExpBot2016/visualizationSpecification_Bruno_JExpBot2016.tsv
Owners: none

fix Crauste axes labels
  Benchmark-Models/Crauste_CellSystems2017/visualizationSpecification_Crauste_CellSystems2017.tsv
Owners: none

Salazar, add visualization spec to the yaml file
  Benchmark-Models/SalazarCavazos_MBoC2020/SalazarCavazos_MBoC2020.yaml
Owners: @dilpath

fix Weber axes labels
  Benchmark-Models/Weber_BMC2015/simulatedData_Weber_BMC2015.tsv
  Benchmark-Models/Weber_BMC2015/visualizationSpecification_Weber_BMC2015.tsv
Owners: none

fix Perelson axes labels
  Benchmark-Models/Perelson_Science1996/visualizationSpecification_Perelson_Science1996.tsv
Owners: @PhilippStaedter

add title
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure1.tsv
Owners: none

add visualization spec for Raimundez model
  Benchmark-Models/Raimundez_PCB2020/Raimundez_PCB2020.yaml
  Benchmark-Models/Raimundez_PCB2020/measurementData_Raimundez_PCB2020.tsv
  Benchmark-Models/Raimundez_PCB2020/simulatedData_Raimundez_PCB2020.tsv
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020.tsv
Owners: @elbaraim

CODEOWNERS:

/Benchmark-Models/Alkan_SciSignal2018	@LaraFuhrmann
/Benchmark-Models/Bachmann_MSB2011
/Benchmark-Models/Beer_MolBioSystems2014
/Benchmark-Models/Bertozzi_PNAS2020	@vanako	@dilpath	@elbaraim
/Benchmark-Models/Blasi_CellSystems2016
/Benchmark-Models/Boehm_JProteomeRes2014
/Benchmark-Models/Borghans_BiophysChem1997
/Benchmark-Models/Brannmark_JBC2010
/Benchmark-Models/Bruno_JExpBot2016
/Benchmark-Models/Chen_MSB2009	@elbaraim
/Benchmark-Models/Crauste_CellSystems2017
/Benchmark-Models/Elowitz_Nature2000
/Benchmark-Models/Fiedler_BMC2016
/Benchmark-Models/Fujita_SciSignal2010	@elbaraim	@dilpath
/Benchmark-Models/Giordano_Nature2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Isensee_JCB2018
/Benchmark-Models/Laske_PLOSComputBiol2019	@C-Peiter	@lcontento
/Benchmark-Models/Lucarelli_CellSystems2018
/Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Oliveira_NatCommun2021	@lorenapohl	@dilpath	@elbaraim
/Benchmark-Models/Perelson_Science1996	@PhilippStaedter
/Benchmark-Models/Rahman_MBS2016	@dilpath
/Benchmark-Models/Raimundez_PCB2020	@elbaraim
/Benchmark-Models/SalazarCavazos_MBoC2020	@dilpath
/Benchmark-Models/Schwen_PONE2014
/Benchmark-Models/Sneyd_PNAS2002
/Benchmark-Models/Weber_BMC2015
/Benchmark-Models/Zhao_QuantBiol2020	@IvaEwert	@dilpath	@elbaraim
/Benchmark-Models/Zheng_PNAS2012
