Repository Benchmarking-Initiative/Benchmark-Models-PEtab, changes with the owners that CODEOWNERS names for each.
All owners: @LaraFuhrmann, @vanako, @dilpath, @elbaraim, @PaulJonasJost, @C-Peiter, @lcontento, @lorenapohl, @PhilippStaedter, @IvaEwert

CODEOWNERS:

/Benchmark-Models/Alkan_SciSignal2018	@LaraFuhrmann
/Benchmark-Models/Bachmann_MSB2011
/Benchmark-Models/Beer_MolBioSystems2014
/Benchmark-Models/Bertozzi_PNAS2020	@vanako	@dilpath	@elbaraim
/Benchmark-Models/Blasi_CellSystems2016
/Benchmark-Models/Boehm_JProteomeRes2014
/Benchmark-Models/Borghans_BiophysChem1997
/Benchmark-Models/Brannmark_JBC2010
/Benchmark-Models/Bruno_JExpBot2016
/Benchmark-Models/Chen_MSB2009	@elbaraim
/Benchmark-Models/Crauste_CellSystems2017
/Benchmark-Models/Elowitz_Nature2000
/Benchmark-Models/Fiedler_BMC2016
/Benchmark-Models/Fujita_SciSignal2010	@elbaraim	@dilpath
/Benchmark-Models/Giordano_Nature2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Isensee_JCB2018
/Benchmark-Models/Laske_PLOSComputBiol2019	@C-Peiter	@lcontento
/Benchmark-Models/Lucarelli_CellSystems2018
/Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Oliveira_NatCommun2021	@lorenapohl	@dilpath	@elbaraim
/Benchmark-Models/Perelson_Science1996	@PhilippStaedter
/Benchmark-Models/Rahman_MBS2016	@dilpath
/Benchmark-Models/Raimundez_PCB2020	@elbaraim
/Benchmark-Models/SalazarCavazos_MBoC2020	@dilpath
/Benchmark-Models/Schwen_PONE2014
/Benchmark-Models/Sneyd_PNAS2002
/Benchmark-Models/Weber_BMC2015
/Benchmark-Models/Zhao_QuantBiol2020	@IvaEwert	@dilpath	@elbaraim
/Benchmark-Models/Zheng_PNAS2012

Visualization fixes (#284)
  Benchmark-Models/Bertozzi_PNAS2020/visualizations.tsv
  Benchmark-Models/Borghans_BiophysChem1997/visualizationSpecification_Borghans_BiophysChem1997.tsv
  Benchmark-Models/Brannmark_JBC2010/measurementData_Brannmark_JBC2010.tsv
  Benchmark-Models/Brannmark_JBC2010/simulatedData_Brannmark_JBC2010.tsv
  Benchmark-Models/Brannmark_JBC2010/visualizationSpecification_Brannmark_JBC2010.tsv
  Benchmark-Models/Bruno_JExpBot2016/visualizationSpecification_Bruno_JExpBot2016.tsv
  Benchmark-Models/Crauste_CellSystems2017/visualizationSpecification_Crauste_CellSystems2017.tsv
  Benchmark-Models/Elowitz_Nature2000/visualizationSpecification_Elowitz_Nature2000.tsv
  Benchmark-Models/Laske_PLOSComputBiol2019/visualizationSpecification_Laske_PLOSComputBiol2019.tsv
  Benchmark-Models/Perelson_Science1996/visualizationSpecification_Perelson_Science1996.tsv
  Benchmark-Models/SalazarCavazos_MBoC2020/SalazarCavazos_MBoC2020.yaml
  Benchmark-Models/Weber_BMC2015/simulatedData_Weber_BMC2015.tsv
  Benchmark-Models/Weber_BMC2015/visualizationSpecification_Weber_BMC2015.tsv
  Benchmark-Models/Zheng_PNAS2012/model_Zheng_PNAS2012.xml
Owners: @vanako, @dilpath, @elbaraim, @C-Peiter, @lcontento, @PhilippStaedter

fix titles and legends
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020.tsv
Owners: @elbaraim

Visualizations to GitHub pages
  .github/workflows/gh-pages.yml
  src/python/pyproject.toml
  vis/generate_petab_reports.py
  vis/templates/index.html.jinja
  vis/templates/problem_report.html.jinja
Owners: none

visualization specifications for figures in the publication
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020_Figure2C.tsv
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020_Figure2D.tsv
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020_Figure3C.tsv
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020_Figure3D.tsv
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020_FigureS3E.tsv
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020_FigureS4.tsv
Owners: @elbaraim

visualization table for S3 figure
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020_FigureS3.tsv
Owners: @elbaraim

fix
  Benchmark-Models/Raimundez_PCB2020/measurementData_Raimundez_PCB2020.tsv
  Benchmark-Models/Raimundez_PCB2020/simulatedData_Raimundez_PCB2020.tsv
Owners: @elbaraim

fix information about paper figures
  Benchmark-Models/Lucarelli_CellSystems2018/measurementData_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018.tsv
Owners: none

fix information about paper figures
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure1.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure2.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure3_1.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure3_2.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure3_3.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure3_4.tsv
Owners: none

Lucarelli visualization (#286)
  Benchmark-Models/Lucarelli_CellSystems2018/Lucarelli_CellSystems2018.yaml
  Benchmark-Models/Lucarelli_CellSystems2018/measurementData_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/simulatedData_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure1.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure2.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure3_1.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure3_2.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure3_3.tsv
  Benchmark-Models/Lucarelli_CellSystems2018/visualizationSpecification_Lucarelli_CellSystems2018_Figure3_4.tsv
Owners: none

Adding unit for x-axis label for Giordano.
  Benchmark-Models/Giordano_Nature2020/visualizationSpecification_Giordano_Nature2020.tsv
Owners: @PaulJonasJost, @dilpath, @elbaraim

Adding unit for x-axis label for Okuonghae
  Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020/visualizationSpecification_Okuonghae_ChaosSolitonsFractals2020.tsv
Owners: @PaulJonasJost, @dilpath, @elbaraim

Correct cation superscripts for Sneyd.
  Benchmark-Models/Sneyd_PNAS2002/visualizationSpecification_Sneyd_PNAS2002.tsv
Owners: none

Adding unit for x-axis label for Zheng
  Benchmark-Models/Zheng_PNAS2012/visualizationSpecification_Zheng_PNAS2012.tsv
Owners: none

Consistent capitalization for Brannmark.
  Benchmark-Models/Brannmark_JBC2010/visualizationSpecification_Brannmark_JBC2010.tsv
Owners: none

Visualization fixes for some benchmark models. (#289)
  Benchmark-Models/Brannmark_JBC2010/visualizationSpecification_Brannmark_JBC2010.tsv
  Benchmark-Models/Giordano_Nature2020/visualizationSpecification_Giordano_Nature2020.tsv
  Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020/visualizationSpecification_Okuonghae_ChaosSolitonsFractals2020.tsv
  Benchmark-Models/Sneyd_PNAS2002/visualizationSpecification_Sneyd_PNAS2002.tsv
  Benchmark-Models/Zheng_PNAS2012/visualizationSpecification_Zheng_PNAS2012.tsv
Owners: @PaulJonasJost, @dilpath, @elbaraim

Visualizations to GitHub pages
  .github/workflows/gh-pages.yml
  src/python/pyproject.toml
  vis/generate_petab_reports.py
  vis/templates/index.html.jinja
  vis/templates/problem_report.html.jinja
Owners: none

Assigning names for CD8 T cell subpopulations in Crauste.
  Benchmark-Models/Crauste_CellSystems2017/visualizationSpecification_Crauste_CellSystems2017.tsv
Owners: none

Vis fixes #2 (#290)
  Benchmark-Models/Crauste_CellSystems2017/visualizationSpecification_Crauste_CellSystems2017.tsv
Owners: none

add visualization spec for Raimundez model (#288)
  Benchmark-Models/Raimundez_PCB2020/Raimundez_PCB2020.yaml
  Benchmark-Models/Raimundez_PCB2020/measurementData_Raimundez_PCB2020.tsv
  Benchmark-Models/Raimundez_PCB2020/simulatedData_Raimundez_PCB2020.tsv
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020.tsv
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020_Figure2C.tsv
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020_Figure2D.tsv
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020_Figure3C.tsv
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020_Figure3D.tsv
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020_FigureS3.tsv
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020_FigureS3E.tsv
  Benchmark-Models/Raimundez_PCB2020/visualizationSpecification_Raimundez_PCB2020_FigureS4.tsv
Owners: @elbaraim

add Blasi visualization spec
  Benchmark-Models/Blasi_CellSystems2016/Blasi_CellSystems2016.yaml
  Benchmark-Models/Blasi_CellSystems2016/visualizationSpecification_Blasi_CellSystems2016.tsv
Owners: none

Backward compatible changes to avoid nan in plot title (Brannmark).
  Benchmark-Models/Brannmark_JBC2010/visualizationSpecification_Brannmark_JBC2010.tsv
Owners: none

add Blasi visualization spec (#291)
  Benchmark-Models/Blasi_CellSystems2016/Blasi_CellSystems2016.yaml
  Benchmark-Models/Blasi_CellSystems2016/visualizationSpecification_Blasi_CellSystems2016.tsv
Owners: none

Fix.
  Benchmark-Models/Brannmark_JBC2010/visualizationSpecification_Brannmark_JBC2010.tsv
Owners: none

fix Zheng visualization spec
  Benchmark-Models/Zheng_PNAS2012/visualizationSpecification_Zheng_PNAS2012.tsv
Owners: none

fix Zheng visualization spec (#294)
  Benchmark-Models/Zheng_PNAS2012/visualizationSpecification_Zheng_PNAS2012.tsv
Owners: none

GHA: Add simulation workflow
  .github/workflows/simulate.yml
  src/python/simulate.py
Owners: none

GHA: Add simulation workflow (#296)
  .github/workflows/simulate.yml
  src/python/simulate.py
Owners: none

Visualizations to GitHub pages
  .github/workflows/gh-pages.yml
  src/python/pyproject.toml
  vis/generate_petab_reports.py
  vis/templates/index.html.jinja
  vis/templates/problem_report.html.jinja
Owners: none

add DOI
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/model_individual.xml
  Benchmark-Models/Liu_IFACPapersOnLine2025/model.xml
Owners: none

update readme bmp
  README.md
Owners: none

add model name
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/model_individual.xml
  Benchmark-Models/Liu_IFACPapersOnLine2025/model.xml
Owners: none

remove metaid, fix readme
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/model_individual.xml
  Benchmark-Models/Liu_IFACPapersOnLine2025/model.xml
  README.md
Owners: none

update
  src/benchmark_refs.bib
Owners: none

fix
  .github/pull_request_template.md
Owners: none

Add references (#298)
  src/benchmark_refs.bib
Owners: none

Update instructions (#299)
  .github/pull_request_template.md
Owners: none

update simulation df
  Benchmark-Models/Weber_BMC2015/simulatedData_Weber_BMC2015.tsv
Owners: none

add new model Liu_IFACPapersOnLine2025 (#260)
  Benchmark-Models/Liu_IFACPapersOnLine2025/Liu_IFACPapersOnLine2025.yaml
  Benchmark-Models/Liu_IFACPapersOnLine2025/conditions.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/Liu_IFACPapersOnLine2025_individual.yaml
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/conditions.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/measurements.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/model_individual.xml
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/observables.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/parameters.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/simulatedData_Liu_IFACPapersOnLine2025_individual.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/individual-based/visualization.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/measurements.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/model.xml
  Benchmark-Models/Liu_IFACPapersOnLine2025/observables.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/parameters.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/simulatedData_Liu_IFACPapersOnLine2025.tsv
  Benchmark-Models/Liu_IFACPapersOnLine2025/visualization.tsv
  README.md
Owners: none

update simulation df (#300)
  Benchmark-Models/Weber_BMC2015/simulatedData_Weber_BMC2015.tsv
Owners: none

change column naming in conditions table
  Benchmark-Models/Isensee_JCB2018/experimentalCondition_Isensee_JCB2018.tsv
  Benchmark-Models/Isensee_JCB2018/model_Isensee_JCB2018.xml
  Benchmark-Models/Isensee_JCB2018/visualizationSpecification_Isensee_JCB2018.tsv
Owners: none
