Repository Benchmarking-Initiative/Benchmark-Models-PEtab, changes with the owners that CODEOWNERS names for each.
All owners: @LaraFuhrmann, @vanako, @dilpath, @elbaraim, @PaulJonasJost, @C-Peiter, @lcontento, @lorenapohl, @PhilippStaedter, @IvaEwert

update version
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/model_Smith_BMCSystBiol2013.xml
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/model_Smith_BMCSystBiol2013.xml
Owners: none

fix conditions
  Benchmark-Models/Smith_BMCSystBiol2013/experimentalCondition_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/model_Smith_BMCSystBiol2013.xml
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/experimentalCondition_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/model_Smith_BMCSystBiol2013.xml
Owners: none

fix conditions
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/experimentalCondition_Smith_BMCSystBiol2013_test.tsv
Owners: none

correct tx rate for 2H
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/model_Smith_BMCSystBiol2013.xml
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/experimentalCondition_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/model_Smith_BMCSystBiol2013.xml
Owners: none

remove debug stuff, add reference
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/model_Smith_BMCSystBiol2013.xml
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/experimentalCondition_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/model_Smith_BMCSystBiol2013.xml
Owners: none

add E2F1 condition
  Benchmark-Models/Smith_BMCSystBiol2013/experimentalCondition_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
Owners: none

parametrize fig2h fixes
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
Owners: none

fix readme
  README.md
  scripts/_helpers.py
Owners: none

use URLs instead of copying files
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/Smith_BMCSystBiol2013_test.yaml
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/experimentalCondition_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/source/BIOMD0000000474_url.xml
  Benchmark-Models/Smith_BMCSystBiol2013/source/archuleta_09_fig1.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/cedersund_irs_p_fig1c.dat.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/essers_emboj_04_fig4b.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/m8b2_after2mored.xml
  Benchmark-Models/Smith_BMCSystBiol2013/source/m8b2_rapi.6-insscan-nox0.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/m8b2_rapi.6-insscan.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/m8b2_rapi_sensitized-insscan.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/m8b2_rapie.6-t60.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/m8b2_rapijf.6.InsROS_out.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/m8b2_rapijf.6.xml
  Benchmark-Models/Smith_BMCSystBiol2013/source/mahadev_01b_fig2.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/pj.6-t60-scanextROS-2SOD.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/stagsted_93_fig1_boundi.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/stagsted_93_fig1_glut.txt
  Benchmark-Models/Smith_BMCSystBiol2013/source/stagsted_93_fig3.txt
Owners: none

add readme
  Benchmark-Models/Smith_BMCSystBiol2013/README.md
Owners: none

added simulated data file
  Benchmark-Models/Smith_BMCSystBiol2013/simulatedData_Smith_BMCSystBiol2013.tsv
Owners: none

fixes + visualization table
  .gitignore
  Benchmark-Models/Smith_BMCSystBiol2013/Smith_BMCSystBiol2013.yaml
  Benchmark-Models/Smith_BMCSystBiol2013/experimentalCondition_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/measurementData_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/model_Smith_BMCSystBiol2013.xml
  Benchmark-Models/Smith_BMCSystBiol2013/observables_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/parameters_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/parameters_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/simulatedData_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/visualization.pdf
  Benchmark-Models/Smith_BMCSystBiol2013/visualizationSpecification_Smith_BMCSystBiol2013.tsv
Owners: none

reenable linting
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
Owners: none

fix colum name in simulation_df (#178)
  Benchmark-Models/Brannmark_JBC2010/simulatedData_Brannmark_JBC2010.tsv
  Benchmark-Models/Giordano_Nature2020/simulatedData_Giordano_Nature2020.tsv
  Benchmark-Models/Isensee_JCB2018/simulatedData_Isensee_JCB2018.tsv
  Benchmark-Models/Perelson_Science1996/simulatedData_Perelson_Science1996.tsv
  Benchmark-Models/Weber_BMC2015/simulatedData_Weber_BMC2015.tsv
Owners: @PaulJonasJost, @dilpath, @elbaraim, @PhilippStaedter

Smith_BMCSystBiol2013 (#180)
  .gitignore
  Benchmark-Models/Smith_BMCSystBiol2013/README.md
  Benchmark-Models/Smith_BMCSystBiol2013/Smith_BMCSystBiol2013.yaml
  Benchmark-Models/Smith_BMCSystBiol2013/experimentalCondition_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/generate_petab.py
  Benchmark-Models/Smith_BMCSystBiol2013/measurementData_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/model_Smith_BMCSystBiol2013.xml
  Benchmark-Models/Smith_BMCSystBiol2013/observables_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/parameters_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/Smith_BMCSystBiol2013_test.yaml
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/experimentalCondition_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/model_Smith_BMCSystBiol2013.xml
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/observables_Smith_BMCSystBiol2013_test.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/sim_test/parameters_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/simulatedData_Smith_BMCSystBiol2013.tsv
  Benchmark-Models/Smith_BMCSystBiol2013/visualization.pdf
  Benchmark-Models/Smith_BMCSystBiol2013/visualizationSpecification_Smith_BMCSystBiol2013.tsv
  README.md
  scripts/_helpers.py
Owners: none

cite
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Fix pre-commit config
  .pre-commit-config.yaml
Owners: none

flake...
  src/python/benchmark_models_petab/__init__.py
Owners: none

mpl
  scripts/requirements.txt
Owners: none

Fix pre-commit config (#187)
  .pre-commit-config.yaml
  scripts/requirements.txt
  src/python/benchmark_models_petab/__init__.py
Owners: none

Add links to SBML4Humans for model inspection
  README.md
  scripts/overview.py
Owners: none

Add links to SBML4Humans for model inspection (#186)
  README.md
  scripts/overview.py
Owners: none

README how to cite (#185)
  README.md
Owners: none

Test libpetab fixes
  scripts/requirements.txt
Owners: none

petab>=0.2.3
  scripts/requirements.txt
Owners: none

Require petab>=0.2.3 (#188)
  scripts/requirements.txt
Owners: none

delete readme
  README.md
Owners: none

recreate readme
  README.md
Owners: none

Fixed wrong reference to research article from Laske model (#173)
  Benchmark-Models/Laske_PLOSComputBiol2019/model_Laske_PLOSComputBiol2019.xml
Owners: @C-Peiter, @lcontento

update ream
  Benchmark-Models/Laske_PLOSComputBiol2019/model_Laske_PLOSComputBiol2019.xml
  README.md
  scripts/overview.py
Owners: @C-Peiter, @lcontento

Update README (#189)
  Benchmark-Models/Laske_PLOSComputBiol2019/model_Laske_PLOSComputBiol2019.xml
  README.md
  scripts/overview.py
Owners: @C-Peiter, @lcontento

update parameters table
  Benchmark-Models/Boehm_JProteomeRes2014/parameters_Boehm_JProteomeRes2014.tsv
Owners: none

update parameters table (#190)
  Benchmark-Models/Boehm_JProteomeRes2014/parameters_Boehm_JProteomeRes2014.tsv
Owners: none

fix overwrite parameters
  Benchmark-Models/Raia_CancerResearch2011/measurementData_Raia_CancerResearch2011.tsv
Owners: none

add Raia model to README
  README.md
Owners: none

add visualization file to yaml
  Benchmark-Models/Raia_CancerResearch2011/Raia_CancerResearch2011.yaml
Owners: none

update README
  README.md
Owners: none

fix measurement
  Benchmark-Models/Raia_CancerResearch2011/measurementData_Raia_CancerResearch2011.tsv
Owners: none

add Raia to new README
  README.md
Owners: none

CODEOWNERS:

/Benchmark-Models/Alkan_SciSignal2018	@LaraFuhrmann
/Benchmark-Models/Bachmann_MSB2011
/Benchmark-Models/Beer_MolBioSystems2014
/Benchmark-Models/Bertozzi_PNAS2020	@vanako	@dilpath	@elbaraim
/Benchmark-Models/Blasi_CellSystems2016
/Benchmark-Models/Boehm_JProteomeRes2014
/Benchmark-Models/Borghans_BiophysChem1997
/Benchmark-Models/Brannmark_JBC2010
/Benchmark-Models/Bruno_JExpBot2016
/Benchmark-Models/Chen_MSB2009	@elbaraim
/Benchmark-Models/Crauste_CellSystems2017
/Benchmark-Models/Elowitz_Nature2000
/Benchmark-Models/Fiedler_BMC2016
/Benchmark-Models/Fujita_SciSignal2010	@elbaraim	@dilpath
/Benchmark-Models/Giordano_Nature2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Isensee_JCB2018
/Benchmark-Models/Laske_PLOSComputBiol2019	@C-Peiter	@lcontento
/Benchmark-Models/Lucarelli_CellSystems2018
/Benchmark-Models/Okuonghae_ChaosSolitonsFractals2020	@PaulJonasJost	@dilpath	@elbaraim
/Benchmark-Models/Oliveira_NatCommun2021	@lorenapohl	@dilpath	@elbaraim
/Benchmark-Models/Perelson_Science1996	@PhilippStaedter
/Benchmark-Models/Rahman_MBS2016	@dilpath
/Benchmark-Models/Raimundez_PCB2020	@elbaraim
/Benchmark-Models/SalazarCavazos_MBoC2020	@dilpath
/Benchmark-Models/Schwen_PONE2014
/Benchmark-Models/Sneyd_PNAS2002
/Benchmark-Models/Weber_BMC2015
/Benchmark-Models/Zhao_QuantBiol2020	@IvaEwert	@dilpath	@elbaraim
/Benchmark-Models/Zheng_PNAS2012
